.x-icon {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.x-icon-angle-b {
  width: 12px;
  height: 8px;
  background-position: -5px -5px; }

.x-icon-angle-b2 {
  width: 29px;
  height: 16px;
  background-position: -27px -5px; }

.x-icon-angle-r {
  width: 13px;
  height: 20px;
  background-position: -66px -5px; }

.x-icon-angle-t {
  width: 12px;
  height: 8px;
  background-position: -89px -5px; }

.x-icon-angle-ud {
  width: 12px;
  height: 27px;
  background-position: -111px -5px; }

.x-icon-arr-l {
  width: 31px;
  height: 18px;
  background-position: -133px -5px; }

.x-icon-arr-r {
  width: 25px;
  height: 23px;
  background-position: -174px -5px; }

.x-icon-bicycle {
  width: 35px;
  height: 30px;
  background-position: -209px -5px; }

.x-icon-camera {
  width: 32px;
  height: 24px;
  background-position: -5px -45px; }

.x-icon-check {
  width: 27px;
  height: 22px;
  background-position: -47px -45px; }

.x-icon-clock {
  width: 38px;
  height: 48px;
  background-position: -84px -45px; }

.x-icon-close {
  width: 15px;
  height: 15px;
  background-position: -132px -45px; }

.x-icon-cup {
  width: 26px;
  height: 28px;
  background-position: -157px -45px; }

.x-icon-dotline {
  width: 25px;
  height: 5px;
  background-position: -193px -45px; }

.x-icon-edit {
  width: 25px;
  height: 25px;
  background-position: -228px -45px; }

.x-icon-eye {
  width: 22px;
  height: 18px;
  background-position: -5px -80px; }

.x-icon-fb {
  width: 11px;
  height: 23px;
  background-position: -37px -80px; }

.x-icon-fire {
  width: 21px;
  height: 32px;
  background-position: -193px -80px; }

.x-icon-flag {
  width: 19px;
  height: 28px;
  background-position: -224px -80px; }

.x-icon-gear {
  width: 22px;
  height: 24px;
  background-position: -5px -118px; }

.x-icon-graph {
  width: 29px;
  height: 17px;
  background-position: -37px -118px; }

.x-icon-i {
  width: 10px;
  height: 12px;
  background-position: -58px -80px; }

.x-icon-in {
  width: 23px;
  height: 22px;
  background-position: -76px -118px; }

.x-icon-mail {
  width: 20px;
  height: 21px;
  background-position: -109px -118px; }

.x-icon-mountains {
  width: 39px;
  height: 24px;
  background-position: -139px -118px; }

.x-icon-mountains2 {
  width: 44px;
  height: 22px;
  background-position: -188px -122px; }

.x-icon-mountains3 {
  width: 49px;
  height: 22px;
  background-position: -5px -154px; }

.x-icon-news {
  width: 28px;
  height: 24px;
  background-position: -64px -154px; }

.x-icon-question {
  width: 18px;
  height: 26px;
  background-position: -102px -154px; }

.x-icon-racing {
  width: 61px;
  height: 37px;
  background-position: -130px -154px; }

.x-icon-rasing2 {
  width: 100px;
  height: 55px;
  background-position: -5px -201px; }

.x-icon-rasing3 {
  width: 101px;
  height: 54px;
  background-position: -115px -201px; }

.x-icon-search {
  width: 32px;
  height: 32px;
  background-position: -201px -154px; }

.x-icon-search2 {
  width: 32px;
  height: 32px;
  background-position: -263px -5px; }

.x-icon-send {
  width: 21px;
  height: 18px;
  background-position: -263px -47px; }

.x-icon-share {
  width: 26px;
  height: 29px;
  background-position: -263px -75px; }

.x-icon-speed {
  width: 36px;
  height: 43px;
  background-position: -253px -114px; }

.x-icon-speed2 {
  width: 26px;
  height: 20px;
  background-position: -243px -167px; }

.x-icon-trash {
  width: 24px;
  height: 39px;
  background-position: -226px -197px; }

.x-icon-triangle-b {
  width: 12px;
  height: 6px;
  background-position: -132px -75px; }

.x-icon-tw {
  width: 23px;
  height: 19px;
  background-position: -260px -197px; }

.x-icon-user {
  width: 28px;
  height: 43px;
  background-position: -260px -226px; }

.x-icon-user2 {
  width: 22px;
  height: 16px;
  background-position: -5px -279px; }

.x-icon-user3 {
  width: 48px;
  height: 38px;
  background-position: -305px -5px; }

/*# sourceMappingURL=icon.css.map */
