.theme-green .back-bar {
  height: 1px;
  background: #707070; }
  .theme-green .back-bar .selected-bar {
    background-color: #000000;
    background-image: none;
    height: 4px;
    top: -2px; }
  .theme-green .back-bar .pointer {
    top: -7px;
    border: 1px solid #707070;
    background: #ffffff;
    background-image: none; }

.slider-container .back-bar .pointer-label {
  top: 16px;
  font-size: 14px; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'KeplerStd';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/KeplerStdRegular/KeplerStdRegular.eot");
  src: url("../fonts/KeplerStdRegular/KeplerStdRegular.eot") format("embedded-opentype"), url("../fonts/KeplerStdRegular/KeplerStdRegular.woff2") format("woff2"), url("../fonts/KeplerStdRegular/KeplerStdRegular.woff") format("woff"), url("../fonts/KeplerStdRegular/KeplerStdRegular.ttf") format("truetype"), url("../fonts/KeplerStdRegular/KeplerStdRegular.svg#KeplerStdRegular") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#RobotoBold") format("svg"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/RobotoLight/Roboto-Light.eot");
  src: url("../fonts/RobotoLight/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/Roboto-Light.woff2") format("woff2"), url("../fonts/RobotoLight/Roboto-Light.woff") format("woff"), url("../fonts/RobotoLight/Roboto-Light.ttf") format("truetype"), url("../fonts/RobotoLight/Roboto-Light.svg#Roboto-Light") format("svg"); }
@font-face {
  font-family: 'OTAKAM33';
  src: url("../fonts/OTAKAM33/OTAKAM33.eot");
  src: url("../fonts/OTAKAM33/OTAKAM33.eot?#iefix") format("embedded-opentype"), url("../fonts/OTAKAM33/OTAKAM33.woff") format("woff"), url("../fonts/OTAKAM33/OTAKAM33.ttf") format("truetype"), url("../fonts/OTAKAM33/OTAKAM33.svg#OTAKAM33") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*='x-icon'] {
  display: inline-block;
  vertical-align: middle;
  line-height: 77%; }
  [class*='x-icon']:before {
    font-family: 'OTAKAM33';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.x-icon-angle:before, .x-icon-angle-l:before, .x-icon-angle-r:before, .x-icon-angle-b:before {
  content: '\0041'; }

.x-icon-arr:before, .x-icon-arr-l:before {
  content: '\0042'; }

.x-icon-bicycle:before {
  content: '\0043'; }

.x-icon-bicycle-a:before {
  content: '\0044'; }

.x-icon-bicycle-b:before {
  content: '\0045'; }

.x-icon-bicycle-c:before {
  content: '\0046'; }

.x-icon-bicycle-d:before {
  content: '\0047'; }

.x-icon-bicycles:before {
  content: '\0048'; }

.x-icon-camera:before {
  content: '\0049'; }

.x-icon-char:before {
  content: '\004a'; }

.x-icon-check:before {
  content: '\004b'; }

.x-icon-clock:before {
  content: '\004c'; }

.x-icon-close:before {
  content: '\004d'; }

.x-icon-cup:before {
  content: '\004e'; }

.x-icon-edit:before {
  content: '\004f'; }

.x-icon-eye:before {
  content: '\0050'; }

.x-icon-fb:before {
  content: '\0051'; }

.x-icon-fire:before {
  content: '\0052'; }

.x-icon-flag:before {
  content: '\0053'; }

.x-icon-gear:before {
  content: '\0054'; }

.x-icon-i:before {
  content: '\0055'; }

.x-icon-in:before {
  content: '\0056'; }

.x-icon-mail:before {
  content: '\0057'; }

.x-icon-mountains:before {
  content: '\0058'; }

.x-icon-mountains-a:before {
  content: '\0059'; }

.x-icon-mountains-b:before {
  content: '\005a'; }

.x-icon-move:before {
  content: '\0061'; }

.x-icon-news:before {
  content: '\0062'; }

.x-icon-path:before {
  content: '\0063'; }

.x-icon-question:before {
  content: '\0064'; }

.x-icon-search:before {
  content: '\0065'; }

.x-icon-search-a:before {
  content: '\0066'; }

.x-icon-send:before {
  content: '\0067'; }

.x-icon-share:before {
  content: '\0068'; }

.x-icon-speed:before {
  content: '\0069'; }

.x-icon-speed-a:before {
  content: '\006a'; }

.x-icon-trash:before {
  content: '\006b'; }

.x-icon-triangle:before {
  content: '\006c'; }

.x-icon-tw:before {
  content: '\006d'; }

.x-icon-upload:before {
  content: '\006e'; }

.x-icon-user:before {
  content: '\006f'; }

.x-icon-user-a:before {
  content: '\0070'; }

.x-icon-user-b:before {
  content: '\0071'; }

.x-icon-users:before {
  content: '\0072'; }

.x-icon-plus:before {
  content: '\0073'; }

.x-icon-angle-l {
  transform: rotate(-90deg); }

.x-icon-angle-r {
  transform: rotate(90deg); }

.x-icon-angle-b {
  transform: rotate(180deg); }

.x-icon-arr-l {
  transform: rotate(180deg); }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000; }

.cw {
  color: #fff; }

.cb {
  color: #000; }

.c1 {
  color: #0093FF; }

.c2 {
  color: #6C6C6C; }

.c3 {
  color: #6CC6FF; }

.c4 {
  color: #002EAE; }

.c5 {
  color: #FF39CA; }

.c6 {
  color: #8B8B8B; }

.x-flex, .x-chars-graph-names, .x-chars-badges-wp, .x-page-head, .x-circles-wp, .x-bage-b-wp, .x-racer, .x-racer-user, .x-racer-info-item, .x-box-c-info, .x-box-e-footer, .x-box-f-top-c, .x-box-f-top-c.big .x-box-f-top-c-info, .x-box-f-mid-info, .x-box-f-bage-item, .x-box-f-bage-wp, .x-box-g, .x-box-g-ctrl-block-wp, .x-box-h-wp-a, .x-box-h-item, .x-box-j, .x-box-k, .x-box-l, .x-body, .x-header-wp, .x-header-nav-menu, .x-header-user, .x-header-user-nav, .x-user-menu-item, .x-section-a, .x-section-f-boxes, .x-login-box-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.x-wp {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }
  .x-wp-a, .x-header-wp, .x-section-f-boxes {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px; }
  .x-wp-b {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px; }
  .x-wp-c {
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
    height: 100%; }
  .x-wp-d {
    max-width: 617px;
    width: 100%;
    margin: 0 auto;
    height: 100%; }
  .x-wp-e {
    max-width: 1091px;
    width: 100%;
    margin: 0 auto; }
.x-link, .x-link_a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 1.125em;
  -webkit-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  transition: all 50ms linear; }
  .x-link:hover, .x-link_a:hover {
    color: #EAFF00; }
  .x-link_a {
    font-size: 1em; }
  .x-link-a {
    font-size: 0.75em;
    color: #6CC6FF;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle; }
    .x-link-a:hover {
      color: #6CC6FF;
      text-decoration: none; }
  .x-link-b {
    font-size: 1em;
    color: #001C6A;
    text-decoration: underline; }
    .x-link-b:hover {
      color: #001C6A;
      text-decoration: none; }
  .x-link-c {
    color: #000000;
    text-decoration: underline; }
    .x-link-c:hover {
      color: #000000;
      text-decoration: none; }
  .x-link-d {
    color: #8B8B8B;
    text-decoration: underline; }
    .x-link-d:hover {
      color: #8B8B8B;
      text-decoration: none; }
  .x-link-e {
    color: #fff;
    text-decoration: underline;
    font-size: inherit; }
    .x-link-e:hover {
      color: #fff;
      text-decoration: none; }
.x-input-a {
  width: 100%;
  padding: 15px 17px;
  border-radius: 12px;
  border: 1px solid #BABABA;
  font-size: 0.9375em; }
.x-input-b {
  display: block;
  width: 100%; }
  .x-input-b-label {
    margin: 10px 0 5px 10px;
    display: block; }
  .x-input-b-in {
    width: 100%;
    padding: 13px;
    font-size: 0.9375em;
    color: #000;
    border: 1px solid #6CC6FF;
    resize: vertical; }
  .x-input-b.withpadd {
    padding: 0 20px; }
.x-input-c {
  width: 100%;
  padding: 6px 15px;
  border-radius: 1px;
  font-size: 0.9375em;
  border: 1px solid #707070;
  color: #868686; }
.x-input-onsubmit, .x-input-onsubmit-a {
  background: #F0F0F0;
  padding: 35px 20px; }
  .x-input-onsubmit .x-input-b-in, .x-input-onsubmit-a .x-input-b-in {
    border: none;
    border-top: 1px solid #BBBBBB;
    background: transparent;
    pointer-events: none; }
  .x-input-onsubmit-a {
    padding: 0; }
    .x-input-onsubmit-a .x-box-c {
      background: #E2E2E2; }
.x-select, .x-select_a {
  position: relative;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background: white; }
  .x-select:after, .x-select_a:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    pointer-events: none; }
  .x-select:before, .x-select_a:before {
    width: 30px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    content: '';
    pointer-events: none; }
  .x-select select, .x-select_a select {
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    height: 100%;
    cursor: pointer;
    outline: none;
    padding-right: 35px;
    padding-left: 15px;
    border: 1px solid #707070;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .x-select select:-moz-focusring, .x-select_a select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }
    .x-select select::-ms-expand, .x-select_a select::-ms-expand {
      display: none; }
  .x-select_a {
    max-width: 222px;
    width: 100%; }
    .x-select_a select {
      width: 100%; }
.x-title-a {
  text-align: center;
  font-size: 3.125em;
  margin: 0 0 22px; }
.x-title-b {
  text-align: center;
  font-size: 2em;
  margin: 0 0 25px; }
.x-title-c {
  text-align: center;
  font-size: 3.125em;
  margin: 0 0 36px;
  position: relative; }
  .x-title-c:after {
    content: '';
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    height: 1px;
    background: #707070; }
.x-title-d {
  font-size: 1.875em;
  color: #002EAE;
  text-align: center;
  margin-bottom: 27px; }
.x-title-e {
  text-align: center;
  font-size: 2.375em;
  font-weight: 100;
  margin-bottom: 37px;
  letter-spacing: -0.2px; }
.x-title-f {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  padding: 30px 0; }
.x-social {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #6c6c6c;
  color: #6c6c6c;
  font-size: 20px;
  position: relative;
  margin-right: 10px;
  text-align: center;
  line-height: 51px;
  -webkit-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  transition: all 50ms linear; }
  .x-social-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear; }
  .x-social:hover {
    opacity: 0.8;
    color: #6c6c6c; }
  .x-social:active {
    opacity: 0.5; }
  .x-social.black {
    border: 2px solid #000;
    color: #000; }
    .x-social.black:hover {
      color: #000; }
.x-char-a {
  margin: 0 auto 60px; }
  .x-char-a .x-box-e-char-canvas {
    width: 270px !important;
    height: 270px !important; }
.x-chars {
  position: relative;
  min-width: 1410px;
  overflow-x: scroll; }
  .x-chars-wp {
    overflow-y: scroll; }
  .x-chars-graph {
    position: relative;
    background: #F4F4F4;
    min-width: 888px; }
    .x-chars-graph-bar {
      height: 235px;
      margin: 30px 0 10px; }
    .x-chars-graph-line {
      height: 280px;
      width: 88%;
      margin: 0 auto; }
    .x-chars-graph-info {
      position: absolute;
      left: 50%;
      top: 70%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      color: #002EAE;
      font-size: 1.5em; }
      .x-chars-graph-info .x-icon-i {
        font-size: 32px;
        color: #6C6C6C;
        margin-left: 20px; }
    .x-chars-graph-names {
      width: 96%;
      margin: 0 auto 15px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-flow: nowrap;
      flex-flow: nowrap; }
      .x-chars-graph-names-item {
        color: #000;
        padding: 0 10px;
        font-size: 15px;
        font-weight: 700;
        text-align: center; }
  .x-chars-badges {
    background: #414141;
    width: 98%;
    margin: 0 auto;
    padding: 0 30px; }
    .x-chars-badges-wp {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .x-chars-badges-item {
      width: 100%;
      border-right: 1px solid rgba(255, 255, 255, 0.14);
      text-align: center; }
      .x-chars-badges-item:last-child {
        border: none; }
      .x-chars-badges-item-img {
        display: block;
        margin: 0 auto 20px;
        max-width: 60px;
        width: 100%; }
  .x-chars-btn {
    background: #6CC6FF;
    color: #000;
    width: 100%;
    border: none;
    padding: 10px; }
    .x-chars-btn .x-icon-angle, .x-chars-btn .x-icon-angle-l, .x-chars-btn .x-icon-angle-r, .x-chars-btn .x-icon-angle-b {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    .x-chars-btn[aria-expanded="true"] .x-icon-angle, .x-chars-btn[aria-expanded="true"] .x-icon-angle-l, .x-chars-btn[aria-expanded="true"] .x-icon-angle-r, .x-chars-btn[aria-expanded="true"] .x-icon-angle-b {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
  .x-chars-prev, .x-chars-next {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .x-chars-next {
    left: initial;
    right: 0; }
  .x-chars.two .x-chars-graph-line {
    width: 50%; }
  .x-chars.three .x-chars-graph-line {
    width: 68%; }
  .x-chars.four .x-chars-graph-line {
    width: 76%; }
  .x-chars.five .x-chars-graph-line {
    width: 82%; }
  .x-chars.six .x-chars-graph-line {
    width: 84%; }
  .x-chars.seven .x-chars-graph-line {
    width: 86%; }
.x-hr, .x-hr-a, .x-hr-b, .x-hr-c {
  width: 100%;
  height: 1px;
  border: none;
  background: #707070;
  margin: 22px 0; }
  .x-hr-a {
    margin: 20px 0 40px;
    background: #BBBBBB; }
  .x-hr-b {
    margin: 35px 0 20px;
    background: #6CC6FF; }
  .x-hr-c {
    margin: 0;
    background: #000; }
.x-page {
  padding: 30px 0 40px; }
  .x-page-head {
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .x-page-head:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      border: none;
      background: #BBBBBB; }
    .x-page-head-name {
      font-size: 1.5625em; }
    .x-page-head-links {
      padding: 0 70px 0 0; }
      .x-page-head-links-a {
        position: relative;
        font-size: 1em;
        display: inline-block;
        vertical-align: middle;
        padding: 3px 38px 26px;
        color: #000000; }
        .x-page-head-links-a:after, .x-page-head-links-a:before {
          content: '';
          position: absolute;
          z-index: 1;
          left: 0;
          right: 0;
          bottom: 1px;
          height: 15px;
          width: 100%;
          background: #002EAE;
          opacity: 0; }
        .x-page-head-links-a:hover, .x-page-head-links-a.active {
          color: #000;
          text-decoration: none; }
          .x-page-head-links-a:hover:after, .x-page-head-links-a:hover:before, .x-page-head-links-a.active:after, .x-page-head-links-a.active:before {
            opacity: 1; }
        .x-page-head-links-a.rainbow:before {
          z-index: 2;
          left: initial;
          width: 66.66%;
          background: #0044ff;
          background: -webkit-gradient(linear, left top, right top, from(#0044ff), color-stop(50%, #0044ff), color-stop(51%, #00d37f), to(#00d37f));
          background: -webkit-linear-gradient(left, #0044ff 0%, #0044ff 50%, #00d37f 51%, #00d37f 100%);
          background: -o-linear-gradient(left, #0044ff 0%, #0044ff 50%, #00d37f 51%, #00d37f 100%);
          background: linear-gradient(to right, #0044ff 0%, #0044ff 50%, #00d37f 51%, #00d37f 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0044ff', endColorstr='#00d37f', GradientType=1 ); }
        .x-page-head-links-a.blue:after {
          background: #0043FF; }
        .x-page-head-links-a.green:after {
          background: #00D37E; }
      .x-page-head-links.mid {
        padding: 0;
        text-align: center;
        border-bottom: 1px solid #BBBBBB; }
    .x-page-head.middle .x-page-head-links {
      padding: 0;
      margin: 0 auto; }
    .x-page-head.top {
      padding: 15px 0 0; }
      .x-page-head.top:after {
        display: none; }
  .x-page-title {
    color: #0043FF;
    text-align: center;
    padding: 24px 0;
    background: #F0F0F0;
    font-size: 2.8125em;
    font-weight: 100; }
  .x-page-link {
    font-size: 1.125em;
    color: #000;
    margin-bottom: 30px; }
    .x-page-link i {
      display: inline-block;
      vertical-align: middle;
      font-size: 26px;
      margin-right: 15px; }
    .x-page-link span {
      text-decoration: underline; }
    .x-page-link:hover {
      color: #000;
      text-decoration: none; }
      .x-page-link:hover span {
        text-decoration: none; }
.x-bg {
  background: url(../i/bg/3.png) 0 0 repeat;
  color: #fff; }
  .x-bg .x-header {
    background: none; }
.x-circles {
  padding-bottom: 16px; }
  .x-circles .x-box-e-char-text {
    font-size: 1.25em;
    text-align: center;
    margin: 25px 0 0; }
  .x-circles .x-box-e-char-canvas {
    height: 278px !important;
    width: 278px !important; }
    .x-circles .x-box-e-char-canvas-mid-a {
      font-size: 1.25em; }
    .x-circles .x-box-e-char-canvas-mid-b {
      font-size: 4em;
      line-height: 1em; }
  .x-circles .x-box-e-char-a {
    position: relative;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px); }
    .x-circles .x-box-e-char-a:after {
      content: '';
      position: absolute;
      left: -68%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 1px;
      width: 64%;
      background: #E2E2E2; }
    .x-circles .x-box-e-char-a-canvas {
      position: relative;
      width: 128px;
      margin: 0 auto;
      height: 128px; }
    .x-circles .x-box-e-char-a-text {
      font-size: 0.9375em;
      margin: 19px 0 0; }
  .x-circles-wp {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 48px 81px 0 265px; }
  .x-circles-buttons {
    width: 100%;
    margin: 57px 0 0;
    text-align: center;
    font-size: 1.25em; }
.x-circle-icon {
  position: relative;
  width: 55px;
  height: 55px;
  display: inline-block;
  background: #001C6A;
  border-radius: 50%;
  color: #fff;
  font-size: 30px; }
  .x-circle-icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.x-dropdown {
  width: 100%; }
  .x-dropdown-title {
    background: #F0F0F0;
    color: #002EAE;
    border-radius: 10px;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
    font-weight: 700; }
    .x-dropdown-title:hover {
      text-decoration: none; }
    .x-dropdown-title .x-icon-angle, .x-dropdown-title .x-icon-angle-l, .x-dropdown-title .x-icon-angle-r, .x-dropdown-title .x-icon-angle-b {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all 20ms linear;
      -o-transition: all 20ms linear;
      transition: all 20ms linear;
      margin: 0 5px 0 0; }
    .x-dropdown-title[aria-expanded="true"] .x-icon-angle, .x-dropdown-title[aria-expanded="true"] .x-icon-angle-l, .x-dropdown-title[aria-expanded="true"] .x-icon-angle-r, .x-dropdown-title[aria-expanded="true"] .x-icon-angle-b {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0); }
  .x-dropdown-menu {
    top: -15px !important;
    border: none;
    width: 100%;
    background: #F0F0F0;
    padding: 15px 10px 0 37px; }
    .x-dropdown-menu-item {
      display: block;
      border-top: 1px solid #BBBBBB;
      padding: 13px 5px;
      color: #6C6C6C;
      -webkit-transition: all 20ms linear;
      -o-transition: all 20ms linear;
      transition: all 20ms linear; }
      .x-dropdown-menu-item:hover {
        text-decoration: none;
        color: #002EAE; }
.x-if-tablet-off {
  display: initial; }
.x-if-tablet-on {
  display: none; }
.x-if-smartphone-off {
  display: initial; }
.x-if-smartphone-on {
  display: none; }
.x-nav {
  margin: 12px 0 75px;
  border-bottom: 1px solid #BBBBBB;
  text-align: center; }
  .x-nav-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    padding: 12px 40px 5px;
    color: #000;
    border-bottom: 11px solid transparent; }
    .x-nav-item:hover {
      text-decoration: none; }
    .x-nav-item.active {
      border-color: #EAFF00; }
    .x-nav-item.premium {
      background: #001C6A;
      padding: 12px 40px 5px 55px;
      color: #fff; }
      .x-nav-item.premium .x-icon-fire {
        position: absolute;
        left: 15px;
        top: 63%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 28px; }
.x-bage-a {
  padding: 100px 0;
  text-align: center; }
  .x-bage-a-img {
    height: 130px; }
  .x-bage-a-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 3.125em;
    font-weight: 100; }
.x-bage-b {
  background: #414141;
  padding: 40px 25px;
  border: 2px solid #fff; }
  .x-bage-b-wp {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .x-bage-b-title {
    text-align: center;
    color: #fff;
    font-size: 3.125em;
    font-weight: 100;
    margin: 0 0 41px; }
  .x-bage-b-item {
    text-align: center;
    line-height: 20px;
    margin-bottom: 50px; }
    .x-bage-b-item-img {
      height: 55px;
      display: block;
      margin: 0 auto 14px; }
    .x-bage-b-item-text {
      display: block;
      color: #fff; }
    .x-bage-b-item-desc {
      font-size: 13px;
      color: #8B8B8B; }
  .x-bage-b.dark {
    background: #2C2C2C; }
.x-racer {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }
  .x-racer-user {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .x-racer-user-ava {
      position: relative;
      background: #F0F0F0;
      border-radius: 50%;
      overflow: hidden;
      max-width: 150px;
      min-width: 150px;
      width: 100%;
      height: 150px;
      cursor: pointer;
      padding: 0; }
      .x-racer-user-ava-bg {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .x-racer-user-ava:after {
        content: '\006f';
        font-family: 'OTAKAM33';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #6C6C6C;
        font-size: 134px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%);
        -webkit-transition: all 50ms linear;
        -o-transition: all 50ms linear;
        transition: all 50ms linear; }
    .x-racer-user-name {
      font-size: 1.5625em;
      color: #000;
      padding: 0 0 0 40px; }
  .x-racer-info {
    width: 50%; }
    .x-racer-info-item {
      margin-bottom: 10px; }
      .x-racer-info-item-icon {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #F0F0F0;
        font-size: 36px; }
        .x-racer-info-item-icon i {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .x-racer-info-item-wp {
        padding: 0 0  0 10px; }
      .x-racer-info-item-title {
        color: #8B8B8B;
        font-size: 0.9375em; }
      .x-racer-info-item-text {
        color: #000;
        font-size: 0.9375em; }
.x-table thead tr th {
  text-align: center;
  padding-bottom: 10px; }
.x-table tfoot tr th input {
  width: 100%;
  border: 1px solid #6CC6FF;
  padding: 5px;
  text-align: center; }
.x-table tbody tr {
  background: #F0F0F0;
  color: #000000; }
  .x-table tbody tr td {
    padding: 8px 0;
    text-align: center;
    border-bottom: 3px solid white; }
  .x-table tbody tr:hover {
    background: #FFC3EF; }
.x-filter-btns {
  text-align: right;
  margin-bottom: 10px; }
.x-filter-box {
  border: 1px solid #BBBBBB;
  padding: 15px 45px;
  margin: 0 0 40px; }
  .x-filter-box-ctrls .x-input-b {
    display: inline-block;
    vertical-align: middle;
    max-width: 222px;
    width: 100%;
    margin-right: 40px; }
    .x-filter-box-ctrls .x-input-b-label {
      margin: 2px 0 0 6px; }
.x-filter-find {
  text-align: center; }
  .x-filter-find-in {
    border: 1px solid #002EAE;
    border-radius: 13px;
    max-width: 294px;
    width: 100%;
    color: #002EAE;
    font-size: 0.9375em;
    padding: 10.1px 15px;
    display: inline-block;
    vertical-align: middle; }
  .x-filter-find-btn {
    position: relative;
    border: 1px solid #002EAE;
    border-radius: 50%;
    background: rgba(108, 198, 255, 0.5);
    width: 39px;
    height: 39px;
    color: #002EAE;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle; }
    .x-filter-find-btn i {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
.x-racing {
  position: relative;
  height: 374px; }
  .x-racing:hover .x-racing-item:not(:hover) {
    opacity: 0.5; }
  .x-racing-item {
    width: 40px;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear; }
    .x-racing-item:after {
      content: '';
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 0;
      width: 1px;
      height: calc(100% - 52px);
      background: #707070; }
    .x-racing-item-icon {
      font-size: 44px;
      color: #A3A3A3;
      position: absolute;
      left: 0;
      bottom: 0; }
    .x-racing-item-name {
      position: absolute;
      z-index: 1;
      left: 20px;
      top: 0;
      background: #707070;
      padding: 0 8px;
      color: #fff;
      white-space: nowrap;
      font-size: 15px; }
    .x-racing-item:hover {
      z-index: 2; }
    .x-racing-item.pink:after {
      background: #FF39CA; }
    .x-racing-item.pink .x-racing-item-icon {
      color: #FF39CA; }
    .x-racing-item.pink .x-racing-item-name {
      background: #FF39CA; }
    .x-racing-item.blue:after {
      background: #002EAE; }
    .x-racing-item.blue .x-racing-item-icon {
      color: #002EAE; }
    .x-racing-item.blue .x-racing-item-name {
      background: #002EAE; }
    .x-racing-item.left .x-racing-item-name {
      left: initial;
      right: 20px; }

.x-btn-search {
  padding: 0;
  background: none;
  cursor: pointer;
  border: none; }
.x-btn-menu {
  display: none;
  background: none;
  border: none;
  padding: 0;
  width: 25px;
  height: 30px;
  margin: 0; }
  .x-btn-menu i {
    position: relative;
    display: block; }
  .x-btn-menu i,
  .x-btn-menu i:after,
  .x-btn-menu i:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .x-btn-menu i:after,
  .x-btn-menu i:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px; }
  .x-btn-menu i:after {
    top: 9px; }
  .x-btn-menu[aria-expanded="true"] i {
    background-color: transparent; }
  .x-btn-menu[aria-expanded="true"] i:before {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px); }
  .x-btn-menu[aria-expanded="true"] i:after {
    -webkit-transform: rotate(-45deg) translate(7px, -8px);
    -ms-transform: rotate(-45deg) translate(7px, -8px);
    transform: rotate(-45deg) translate(7px, -8px); }
.x-btn-enter {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  background: #002EAE;
  border: none;
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  transition: all 50ms linear; }
  .x-btn-enter.inactive {
    opacity: 0.5;
    pointer-events: none; }
  .x-btn-enter:hover {
    text-decoration: none;
    opacity: 0.8; }
  .x-btn-enter:active {
    opacity: 0.6; }
.x-btn-o {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  text-decoration: none; }
.x-btn-a, .x-btn-a.white, .x-btn-a.blue, .x-btn-a_small, .x-btn-a_mid {
  background: #EAFF00;
  color: #002EAE;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 9px;
  padding: 12px 0;
  font-size: 1.125em;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  transition: all 50ms linear; }
  .x-btn-a > *, .x-btn-a.white > *, .x-btn-a.blue > *, .x-btn-a_small > *, .x-btn-a_mid > * {
    position: relative;
    top: 0;
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear; }
  .x-btn-a:hover, .x-btn-a_small:hover, .x-btn-a_mid:hover {
    text-decoration: none;
    opacity: 0.8; }
    .x-btn-a:hover > *, .x-btn-a_small:hover > *, .x-btn-a_mid:hover > * {
      top: -3px; }
  .x-btn-a:active, .x-btn-a_small:active, .x-btn-a_mid:active {
    opacity: 0.6; }
  .x-btn-a-text {
    margin: 0 35px 0 -26px; }
  .x-btn-a-icon {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); }
  .x-btn-a.white, .white.x-btn-a_small, .white.x-btn-a_mid {
    width: auto;
    padding: 12px 62px;
    background: #fff;
    color: #002EAE; }
  .x-btn-a.blue, .blue.x-btn-a_small, .blue.x-btn-a_mid {
    width: auto;
    padding: 13px 31px;
    background: #6CC6FF;
    color: #002EAE; }
    .x-btn-a.blue .x-btn-a-text, .blue.x-btn-a_small .x-btn-a-text, .blue.x-btn-a_mid .x-btn-a-text {
      margin: 0 12px 0 0; }
  .x-btn-a_small, .x-btn-a_mid {
    max-width: 200px;
    width: 100%;
    margin: 5px; }
    .x-btn-a_small.pink, .pink.x-btn-a_mid {
      background: #FF39CA;
      color: #fff; }
    .x-btn-a_small.white, .white.x-btn-a_mid {
      max-width: 200px;
      width: 100%;
      border: 1px solid #6C6C6C;
      color: #6C6C6C;
      padding: 12px 0; }
    .x-btn-a_small.gray, .gray.x-btn-a_mid {
      background: #F0F0F0;
      color: #6C6C6C; }
    .x-btn-a_small.dark, .dark.x-btn-a_mid {
      background: #6C6C6C;
      color: #fff; }
  .x-btn-a_mid {
    max-width: 400px;
    width: auto;
    padding: 12px 56px; }
.x-btn-b {
  position: relative;
  background: #fff;
  color: #002EAE;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 9px;
  padding: 12px 15px;
  font-size: 1em;
  text-decoration: none;
  display: block;
  -webkit-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear; }
  .x-btn-b-icon {
    margin: 0 0 0 15px; }
    .x-btn-b-icon-a {
      font-size: 26px;
      position: absolute;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .x-btn-b:hover {
    text-decoration: none;
    opacity: 0.8; }
  .x-btn-b:active {
    opacity: 0.6; }
  .x-btn-b.pink {
    background: #FF39CA;
    color: #fff; }
  .x-btn-b.blue {
    background: #0043FF;
    color: #fff; }
  .x-btn-b.yellow {
    background: #EAFF00;
    color: #002EAE; }
  .x-btn-b.blackblue {
    background: #002EAE;
    color: #fff; }
  .x-btn-b.lightblue {
    background: #009CFF;
    color: #fff; }
  .x-btn-b.transparent {
    background: transparent;
    color: #BBBBBB;
    border: 1px solid #BBBBBB; }
.x-btn-c {
  color: #fff;
  background: #0043FF;
  border-radius: 5px;
  padding: 10px 28px;
  text-align: center;
  min-width: 128px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  font-size: 0.9375em; }
  .x-btn-c.blackblue {
    background: #002EAE; }
.x-btn-d {
  color: #000;
  background: #E2E2E2;
  border-radius: 5px;
  padding: 5px 25px;
  text-align: center;
  min-width: 128px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  font-size: 0.9375em; }

.x-box-hr {
  width: 60%;
  height: 1px;
  border: none;
  background: #707070;
  margin: 19px 0 12px; }
.x-box-link {
  font-size: 1.125em;
  color: #FF39CA;
  text-decoration: underline; }
  .x-box-link:hover {
    text-decoration: none; }
.x-box-a {
  margin-bottom: 50px; }
  .x-box-a-figure {
    width: 100%;
    min-height: 203px;
    height: 100%;
    background-size: cover;
    margin-bottom: 16px; }
  .x-box-a-date {
    font-size: 1.125em;
    color: #6C6C6C;
    margin: 0 0 10px; }
  .x-box-a-title {
    font-size: 1.5em;
    color: #002EAE;
    font-weight: 700;
    line-height: 31px;
    display: inline-block;
    margin: 0 0 12px; }
  .x-box-a-text {
    font-size: 1.125em;
    line-height: 24px; }
.x-box-b {
  background: rgba(234, 255, 0, 0.5);
  margin-bottom: 2.5em;
  padding: 28px 29px; }
  .x-box-b-date {
    font-size: 1.125em;
    color: #6C6C6C;
    margin: 0 0 17px; }
  .x-box-b-text {
    font-size: 1.5em;
    line-height: 31px; }
.x-box-c {
  position: relative;
  font-size: 0.875em;
  background: #F0F0F0;
  padding: 12px 100px 12px 30px;
  margin-bottom: 3px; }
  .x-box-c-data {
    margin-bottom: 2px; }
  .x-box-c-info-a {
    width: 35%; }
  .x-box-c-info-b {
    width: 65%; }
  .x-box-c-end {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 85px;
    background: #EAFF00;
    cursor: pointer; }
    .x-box-c-end:after {
      content: '\004b';
      font-family: 'OTAKAM33';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #002EAE;
      font-size: 30px; }
    .x-box-c-end.trash {
      background: #FF39CA; }
      .x-box-c-end.trash:after {
        content: '\006b';
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
.x-box-d {
  background: #E2E2E2;
  min-height: 296px;
  border: 2px solid #fff; }
  .x-box-d.light {
    background: #F0F0F0; }
  .x-box-d-wp {
    padding: 10px 25px 25px;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
  .x-box-d-icon {
    font-size: 100px;
    line-height: 30%;
    color: #002EAE; }
  .x-box-d-text {
    font-size: 1.5em;
    color: #002EAE;
    margin-bottom: 23px;
    line-height: 31px; }
.x-box-e {
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background: #fff;
  border: 2px solid #8B8B8B;
  color: #fff;
  overflow: hidden;
  text-align: center; }
  .x-box-e-head {
    background: #000000;
    text-align: center;
    padding: 13px 0; }
  .x-box-e-user {
    background: #001C6A;
    padding: 7px 20px;
    text-align: left; }
    .x-box-e-user-ava {
      width: 51px;
      height: 51px;
      border-radius: 50%;
      overflow: hidden;
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px; }
    .x-box-e-user-name {
      display: inline-block;
      vertical-align: middle;
      font-size: 1em; }
  .x-box-e-data, .x-box-e-data_year {
    font-size: 1.25em;
    color: #002EAE;
    text-align: right;
    padding: 17px 23px 3.4px 16px; }
    .x-box-e-data_year {
      font-size: 2.5em;
      padding: 10px 23px 0 16px;
      line-height: 1em; }
  .x-box-e-char-canvas {
    position: relative;
    width: 188px !important;
    height: 188px !important;
    margin: 0 auto; }
    .x-box-e-char-canvas-a {
      position: absolute;
      left: -19%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 31px;
      height: 31px;
      border-radius: 50%;
      text-align: center;
      color: #8B8B8B; }
      .x-box-e-char-canvas-a i {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 30px; }
    .x-box-e-char-canvas-mid {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .x-box-e-char-canvas-mid-a {
        font-size: 0.875em;
        color: #000; }
      .x-box-e-char-canvas-mid-b {
        font-size: 2.5em;
        color: #002EAE;
        line-height: 1.25em; }
      .x-box-e-char-canvas-mid i {
        color: #6C6C6C;
        font-size: 34px; }
  .x-box-e-char-text {
    line-height: 0.875em;
    color: #8B8B8B;
    margin: 10px 0 25px; }
    .x-box-e-char-text span {
      color: #BFBFBF; }
  .x-box-e-char-a {
    display: inline-block;
    vertical-align: middle;
    text-align: center; }
    .x-box-e-char-a-title {
      color: #002EAE;
      font-weight: 700;
      font-size: 0.75em;
      line-height: 12px; }
    .x-box-e-char-a-canvas {
      position: relative;
      width: 105px;
      margin: 0 auto;
      height: 105px; }
      .x-box-e-char-a-canvas-mid {
        position: absolute;
        left: 50%;
        top: 60%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #002EAE;
        font-size: 1.375em;
        line-height: 9px; }
        .x-box-e-char-a-canvas-mid i {
          color: #6C6C6C;
          font-size: 1.875em; }
    .x-box-e-char-a-text {
      font-size: 0.625em;
      color: #8B8B8B;
      margin: 2px 0 23px; }
      .x-box-e-char-a-text span {
        color: #BFBFBF; }
  .x-box-e-footer {
    padding: 0 12px; }
  .x-box-e.lightblue .x-box-e-data_year {
    color: #0043FF; }
  .x-box-e.lightblue .x-box-e-user {
    background: #0043FF; }
  .x-box-e.lightblue .x-box-e-char-canvas-mid-b {
    color: #0043FF; }
  .x-box-e.lightblue .x-box-e-char-a-title {
    color: #0043FF; }
  .x-box-e.lightblue .x-box-e-char-a-canvas-mid {
    color: #0043FF; }
  .x-box-e.green .x-box-e-data_year {
    color: #00D37E; }
  .x-box-e.green .x-box-e-user {
    background: #00D37E; }
  .x-box-e.green .x-box-e-char-canvas-mid-b {
    color: #00D37E; }
  .x-box-e.green .x-box-e-char-a-title {
    color: #00D37E; }
  .x-box-e.green .x-box-e-char-a-canvas-mid {
    color: #00D37E; }
.x-box-f {
  display: inline-block;
  vertical-align: top;
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid #8B8B8B;
  overflow: hidden;
  text-align: center; }
  .x-box-f-head {
    background: #F0F0F0;
    color: #002EAE;
    padding: 13px 25px;
    text-align: left; }
    .x-box-f-head.share {
      padding: 12px 20px;
      text-align: right;
      color: #6C6C6C; }
  .x-box-f-top {
    background: #fff;
    color: #000;
    padding: 9px 0 0; }
    .x-box-f-top-a {
      font-size: 0.75em; }
      .x-box-f-top-a i {
        font-size: 34px; }
    .x-box-f-top-b {
      font-size: 1.5em;
      line-height: 1.07em;
      padding: 15px 0 0;
      min-height: 66.2px; }
    .x-box-f-top-c-canvas {
      height: 74px !important;
      width: 61% !important; }
    .x-box-f-top-c-info {
      width: 39%;
      padding-left: 4%; }
      .x-box-f-top-c-info-item {
        border-top: 1px solid #E2E2E2;
        padding: 6px 6px 6px 8px;
        text-align: left; }
        .x-box-f-top-c-info-item i {
          font-size: 22px;
          margin-right: 5px; }
    .x-box-f-top-c.big .x-box-f-top-c-canvas {
      width: 100% !important;
      height: 111px !important; }
    .x-box-f-top-c.big .x-box-f-top-c-info {
      width: 100%;
      padding: 5px 10px;
      text-align: center; }
      .x-box-f-top-c.big .x-box-f-top-c-info-item {
        width: 50%;
        border-top: 1px solid transparent;
        border-left: 1px solid #000000;
        text-align: center; }
        .x-box-f-top-c.big .x-box-f-top-c-info-item:first-child {
          border-left: none; }
  .x-box-f-mid {
    padding: 0 5.5%;
    overflow: hidden;
    background: #001C6A;
    -webkit-box-shadow: inset 2px 17px 64px -23px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 17px 64px -23px rgba(0, 0, 0, 0.75); }
    .x-box-f-mid-canvas {
      position: relative;
      width: 300px !important;
      height: 300px !important;
      margin: -130px auto 0; }
      .x-box-f-mid-canvas-a {
        position: absolute;
        color: #fff;
        text-align: center;
        left: 50%;
        top: 60%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        line-height: 2em; }
      .x-box-f-mid-canvas-b {
        position: absolute;
        right: 5%;
        top: 52%; }
    .x-box-f-mid-info {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #fff;
      border-bottom: 1px solid #002EAE;
      margin: -47px 0 0;
      padding: 0 0 15px; }
      .x-box-f-mid-info-item {
        text-align: center; }
        .x-box-f-mid-info-item i {
          color: #6CC6FF;
          font-size: 40px; }
        .x-box-f-mid-info-item-a {
          color: #6CC6FF;
          font-weight: 100; }
        .x-box-f-mid-info-item-b {
          color: #fff;
          font-size: 1.875em;
          font-weight: 100; }
    .x-box-f-mid-bot {
      text-align: left;
      padding: 15px 6px; }
      .x-box-f-mid-bot img {
        margin-right: 2px;
        height: 40px; }
    .x-box-f-mid-footer {
      font-size: 0.9375em;
      background: #001C6A;
      border-top: 1px solid #002EAE;
      text-align: left;
      color: #fff;
      padding: 7px 6px 15px;
      line-height: 1.4em;
      min-height: 85.4px; }
    .x-box-f-mid.gray {
      background: #6C6C6C;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .x-box-f-mid.gray .x-box-f-mid-info {
        margin: 0;
        border: none; }
        .x-box-f-mid.gray .x-box-f-mid-info-item {
          color: #BBBBBB; }
          .x-box-f-mid.gray .x-box-f-mid-info-item i {
            color: #BBBBBB; }
          .x-box-f-mid.gray .x-box-f-mid-info-item-a {
            color: #BBBBBB; }
  .x-box-f-short {
    text-align: center; }
    .x-box-f-short-info {
      position: relative;
      overflow: hidden;
      background: #6C6C6C;
      padding: 38px 0 29px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      -webkit-box-shadow: inset 2px 17px 64px -23px rgba(0, 0, 0, 0.75);
      box-shadow: inset 2px 17px 64px -23px rgba(0, 0, 0, 0.75); }
      .x-box-f-short-info-text {
        color: #fff;
        line-height: 27px; }
      .x-box-f-short-info-i {
        position: absolute;
        right: 27px;
        top: 14px; }
    .x-box-f-short-footer {
      width: 88%;
      margin: 0 auto;
      padding: 33px 0 53px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background: rgba(154, 154, 154, 0.24); }
      .x-box-f-short-footer-text {
        font-size: 1.125em;
        color: #001C6A;
        padding: 0 30px;
        line-height: 25px; }
  .x-box-f-info {
    padding: 0 5.5%;
    background: #6C6C6C;
    -webkit-box-shadow: inset 2px 17px 64px -23px rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 17px 64px -23px rgba(0, 0, 0, 0.75);
    color: #fff; }
    .x-box-f-info-text {
      color: #fff;
      line-height: 27px;
      padding: 56px 0 28px; }
    .x-box-f-info-bot {
      border-top: 1px solid #939393;
      text-align: left;
      padding: 15px 6px; }
      .x-box-f-info-bot img {
        margin-right: 2px;
        height: 40px; }
  .x-box-f-footer {
    background: #000000;
    text-align: center;
    padding: 13px 0; }
  .x-box-f-edit {
    padding: 15px 20px 31px 15px;
    background: #F0F0F0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
    .x-box-f-edit-title {
      text-align: left;
      font-size: 0.9375em;
      padding: 0 15px 10px; }
  .x-box-f-bage {
    width: 94%;
    margin: 0 auto;
    background: #414141;
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
    .x-box-f-bage-title {
      font-size: 1.25em;
      color: #8B8B8B;
      margin-bottom: 5px; }
    .x-box-f-bage-item {
      -ms-flex-flow: nowrap;
      flex-flow: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 50%;
      padding: 15px 15px 15px 25px;
      border-bottom: 1px solid #707070; }
      .x-box-f-bage-item:nth-child(odd) {
        border-right: 1px dashed #707070; }
      .x-box-f-bage-item:nth-last-child(1), .x-box-f-bage-item:nth-last-child(2) {
        border-bottom: none; }
      .x-box-f-bage-item-img {
        height: 55px;
        margin: 0 20px 0 0; }
      .x-box-f-bage-item-text {
        color: #fff;
        font-size: 0.9375em; }
    .x-box-f-bage-wp {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .x-box-f-bage-wp-a {
        padding: 15px 0 20px;
        text-align: center; }
        .x-box-f-bage-wp-a .x-box-f-bage-item-img {
          height: 40px;
          margin: 5px 4px; }
    .x-box-f-bage.active {
      max-height: 1000px;
      padding: 15px; }
  .x-box-f-note {
    padding: 22px 5.5% 37px;
    background: #001C6A;
    text-align: left; }
    .x-box-f-note-icon {
      color: #6CC6FF;
      font-size: 1.125em;
      margin-bottom: 15px;
      font-weight: 100; }
      .x-box-f-note-icon i {
        vertical-align: initial;
        font-size: 26px; }
    .x-box-f-note-text {
      font-size: 1.125em;
      color: #fff;
      line-height: 25px;
      font-weight: 100; }
    .x-box-f-note.gray {
      background: #6C6C6C; }
  .x-box-f.noborder {
    border: none; }
  .x-box-f.nobg {
    background: none; }
  .x-box-f.big {
    border: none;
    max-width: 100%; }
    .x-box-f.big .x-box-f-top-a {
      font-size: 1em; }
    .x-box-f.big .x-box-f-top-b {
      font-size: 2.5em;
      padding: 7px 0 0; }
    .x-box-f.big .x-box-f-top-c-canvas {
      height: 240px !important; }
    .x-box-f.big .x-box-f-top-c-info {
      padding: 5px 10px 7px; }
      .x-box-f.big .x-box-f-top-c-info-item {
        font-size: 1.125em;
        padding: 12px 6px 12px 8px; }
        .x-box-f.big .x-box-f-top-c-info-item i {
          font-size: 32px; }
    .x-box-f.big .x-box-f-mid-canvas {
      width: 500px !important;
      height: 500px !important;
      margin: -230px auto 0; }
      .x-box-f.big .x-box-f-mid-canvas-a {
        width: 100%;
        line-height: 50px; }
        .x-box-f.big .x-box-f-mid-canvas-a-title {
          font-size: 5em; }
        .x-box-f.big .x-box-f-mid-canvas-a-text {
          font-size: 2.1875em; }
    .x-box-f.big .x-box-f-mid.gray .x-box-f-mid-canvas {
      height: 140px !important;
      margin: 0 auto 0; }
    .x-box-f.big .x-box-f-head.share {
      padding: 20px;
      font-size: 24px; }
.x-box-g {
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
  margin: 0 0 49px; }
  .x-box-g-ava {
    position: relative;
    background: #F0F0F0;
    border-radius: 50%;
    overflow: hidden;
    max-width: 150px;
    min-width: 150px;
    width: 100%;
    height: 150px;
    cursor: pointer;
    padding: 0; }
    .x-box-g-ava-bg {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .x-box-g-ava:after {
      content: '\006f';
      font-family: 'OTAKAM33';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #6C6C6C;
      font-size: 134px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
      -webkit-transition: all 50ms linear;
      -o-transition: all 50ms linear;
      transition: all 50ms linear; }
  .x-box-g-ctrl {
    padding: 0 0 0 25px;
    width: 100%; }
    .x-box-g-ctrl-block {
      background: #F0F0F0;
      padding: 18px 34px; }
      .x-box-g-ctrl-block-wp {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-flow: nowrap;
        flex-flow: nowrap;
        padding: 9px 0 5px; }
        .x-box-g-ctrl-block-wp .x-input-c {
          width: 59%; }
        .x-box-g-ctrl-block-wp .x-btn-d {
          width: 36%; }
  .x-box-g-mobile {
    display: none; }
.x-box-h {
  background: #F0F0F0; }
  .x-box-h-wp {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0; }
    .x-box-h-wp-a {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .x-box-h-item {
    -ms-flex-flow: nowrap;
    flex-flow: nowrap;
    margin-bottom: 15px; }
    .x-box-h-item-icon {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #6C6C6C;
      color: #fff;
      overflow: hidden;
      font-size: 44px; }
      .x-box-h-item-icon i {
        position: absolute;
        left: 50%;
        top: 55%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .x-box-h-item-wp {
      padding: 0 0  0 10px; }
    .x-box-h-item-title {
      color: #000;
      font-size: 0.9375em; }
    .x-box-h-item-text {
      color: #6C6C6C;
      font-size: 0.9375em; }
.x-box-j {
  padding: 16px 24px;
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-left: 1px solid #BBBBBB; }
  .x-box-j:first-child {
    border-left: 1px solid transparent; }
  .x-box-j-title {
    font-size: 1.25em;
    color: #000000;
    font-weight: 700; }
  .x-box-j-text {
    color: #707070;
    font-size: 0.75em;
    line-height: 17px; }
  .x-box-j-info {
    font-size: 1.875em;
    color: #000000;
    font-weight: 700;
    line-height: 34px;
    padding: 23px 0; }
  .x-box-j-icon {
    font-size: 44px; }
  .x-box-j-wp {
    padding: 22px 0 0 31px; }
.x-box-k {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start; }
  .x-box-k-wp {
    padding: 25px 5px 15px;
    position: relative;
    overflow: auto;
    max-height: 575px; }
  .x-box-k-left-img {
    width: 48%;
    margin: 0 1% 5px;
    height: 88px;
    background-size: cover; }
  .x-box-k-left, .x-box-k-right {
    position: relative;
    width: 25%;
    padding: 0 25px;
    margin: 6px 0; }
    .x-box-k-left:after, .x-box-k-left:before, .x-box-k-right:after, .x-box-k-right:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      width: calc(100% - 50px);
      margin: 0 auto;
      background: #000; }
    .x-box-k-left:before, .x-box-k-right:before {
      top: initial;
      bottom: 0; }
    .x-box-k-left.noborder:after, .x-box-k-left.noborder:before, .x-box-k-right.noborder:after, .x-box-k-right.noborder:before {
      display: none; }
  .x-box-k-mid {
    padding: 0;
    width: 50%;
    margin-bottom: 20px; }
  .x-box-k-right h2 {
    font-size: 1.25em; }
  .x-box-k-right h3 {
    font-size: 0.9375em; }
  .x-box-k-right a {
    color: #000;
    text-decoration: underline; }
    .x-box-k-right a:hover {
      color: #000;
      text-decoration: none; }
  .x-box-k-right img {
    width: 100%; }
.x-box-l {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 75px 0; }
  .x-box-l-info {
    width: 33%;
    padding: 13px 0 0; }
    .x-box-l-info-item-title {
      font-size: 1.875em;
      font-weight: 100;
      color: #8B8B8B;
      border-bottom: 1px solid #707070;
      margin-bottom: 9px;
      padding: 0 0 5px; }
    .x-box-l-info-item-text {
      font-size: 1em;
      color: #000;
      margin-bottom: 15px; }
  .x-box-l-map {
    width: 62%;
    height: 500px; }
    .x-box-l-map #map {
      height: 100%;
      width: 100%; }
.x-pagination {
  text-align: center;
  margin: 35px 0; }
  .x-pagination-btn {
    font-size: 0.75em;
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: none;
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear; }
    .x-pagination-btn:hover, .x-pagination-btn.active {
      background: #EAFF00;
      color: #000;
      text-decoration: none; }

.x-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column; }
.x-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
.x-header {
  position: relative;
  background: #000;
  height: 100%;
  max-height: 180px;
  padding-bottom: 13px;
  font-size: 16px; }
  .x-header-wp {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .x-header-logo {
    position: absolute;
    left: 50%;
    top: -65px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 222px;
    height: 216px;
    background: url(../i/logo/1.png) 0 0 no-repeat;
    background-size: contain !important; }
    .x-header-logo.two {
      background: url(../i/logo/2.png) 0 0 no-repeat; }
  .x-header-nav {
    width: 39%; }
    .x-header-nav-btn {
      display: none; }
    .x-header-nav-menu {
      min-width: auto;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      background: none;
      float: none; }
  .x-header-user {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 30.6%; }
    .x-header-user-nav {
      width: 69%; }
      .x-header-user-nav-del {
        background: #707070;
        width: 1px;
        height: 40px;
        display: inline-block;
        margin: 0 28px; }
    .x-header-user-info, .x-user-menu-info {
      width: 69%;
      color: #ffffff;
      font-size: 1em;
      line-height: 1.2em; }
  .x-header-border {
    max-width: 1310px;
    width: 100%;
    margin: 12px auto 0;
    height: 2px;
    background: #000; }
  .x-header.bg {
    background: url(../i/bg/1.png) 0 0 no-repeat;
    background-size: cover !important; }
    .x-header.bg .x-header-logo {
      background: url(../i/logo/2.png) 0 0 no-repeat; }
.x-user {
  position: relative;
  border: 1px solid #292929;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background: none;
  cursor: pointer;
  padding: 0; }
  .x-user:after {
    content: '\006f';
    font-family: 'OTAKAM33';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear; }
  .x-user-bg {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .x-user-menu {
    position: absolute;
    top: 10px !important;
    left: 0;
    max-width: 270px;
    width: 100%;
    z-index: 1000;
    display: none;
    color: #212529;
    background: #343434;
    border: 2px solid #000000;
    border-radius: 0;
    padding: 0;
    margin: 0; }
    .x-user-menu-item {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: 0 17px;
      color: #ffffff;
      text-decoration: none;
      -webkit-transition: all 50ms linear;
      -o-transition: all 50ms linear;
      transition: all 50ms linear; }
      .x-user-menu-item-icon {
        position: relative;
        width: 30px;
        text-align: center;
        margin: -5px 10px 0 0; }
        .x-user-menu-item-icon.new:after {
          content: '';
          position: absolute;
          left: 2px;
          top: 2px;
          width: 11px;
          height: 11px;
          background: #D60000;
          border-radius: 50%; }
      .x-user-menu-item:hover {
        color: #ffffff;
        text-decoration: none;
        opacity: 0.6; }
      .x-user-menu-item:not(:last-child) {
        border-bottom: 2px solid #000000; }
    .x-user-menu-info {
      background: #000;
      width: 100% !important;
      padding: 5px 0 0 55px;
      display: none;
      height: 50px; }
  .x-user-fire {
    width: 50px;
    height: 30px;
    position: absolute;
    left: -25px;
    top: 8px;
    background: #001C6A;
    border-radius: 20px;
    text-align: left;
    padding: 3px 0 0 5px;
    color: white;
    font-size: 18px; }
    .x-user-fire .x-icon {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6); }
.x-footer {
  background: #000;
  padding: 57px 0 70px;
  text-align: center; }
.x-section-a {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../i/bg/2.png) 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 592px; }
.x-section-b {
  font-size: 1.25em;
  padding: 65px 0 69px; }
.x-section-c {
  background: #9DD9FF;
  padding: 45px 0 60px; }
.x-section-d {
  padding: 77px 0 138px; }
.x-section-e {
  background: #F0F0F0;
  margin-bottom: 30px; }
.x-section-f {
  background: url(../i/bg/4.png) 0 0 repeat;
  color: #000;
  padding: 50px 0 38px;
  margin-top: 50px; }
  .x-section-f-boxes {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .x-section-f-boxes-mobile {
      position: relative; }
      .x-section-f-boxes-mobile-change {
        position: absolute;
        left: 50%;
        top: -20px;
        border-radius: 20px;
        z-index: 1;
        background: #EAFF00;
        color: #000;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }
        .x-section-f-boxes-mobile-change a {
          padding: 12px;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer; }
.x-login {
  max-width: 587px;
  width: 100%; }
  .x-login-box {
    position: relative;
    padding: 37px 90px 30px 68px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    margin-bottom: 14px; }
    .x-login-box-inputs {
      max-width: 343px;
      width: 100%; }
    .x-login-box-a {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-bottom: 20px; }
    .x-login-box-b {
      margin-left: 15px; }

html, body {
  height: 100%;
  min-width: 320px; }

* {
  box-sizing: border-box; }

a {
  font-size: 15px;
  color: #002EAE; }

b, strong {
  font-weight: 700; }

textarea {
  vertical-align: middle; }

button {
  cursor: pointer; }

[hidden] {
  display: none !important; }

.inactive {
  pointer-events: none;
  opacity: .3; }
  .inactive-a {
    pointer-events: none;
    background: #747474;
    color: black; }
  .inactive-b {
    pointer-events: none; }

.scrollcon-x {
  overflow-x: scroll; }

[disabled], [disabled="disabled"] {
  cursor: no-drop !important; }

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wsn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.wsw {
  text-overflow: initial;
  white-space: initial;
  overflow: initial; }

.wspl {
  white-space: pre-line; }

.w33p {
  width: 33.333%; }

.w50p {
  width: 50%; }

.h100p {
  height: 100%; }

.w100p {
  width: 100%;
  max-width: 100%;
  min-width: 100%; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.ttu {
  text-transform: uppercase; }

.ovsy {
  overflow-y: scroll; }

.ovsx {
  overflow-x: scroll; }

.ovh {
  overflow: hidden; }

.vh {
  visibility: hidden; }

.relative {
  position: relative; }

.trfM {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.vh {
  visibility: hidden; }

.dibM {
  display: inline-block;
  vertical-align: middle; }

.dibT {
  display: inline-block;
  vertical-align: top; }

.dibB {
  display: inline-block;
  vertical-align: bottom; }

.dibBa {
  display: inline-block;
  vertical-align: baseline; }

.db {
  display: block; }

.dn {
  display: none; }

.op0 {
  opacity: 0; }

.op1 {
  opacity: 1; }

.flu {
  display: inline-block; }
  .flu:first-letter {
    text-transform: uppercase; }

.wp-btw, .wp-btw_cen, .wp-btw_end, .wp-btw_start {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .wp-btw_cen {
    align-items: center !important; }
  .wp-btw_end {
    align-items: flex-end; }
  .wp-btw_start {
    justify-content: flex-start; }
.wp-arnd, .wp-arnd_cen, .wp-arnd_start {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .wp-arnd_cen {
    align-items: center; }
  .wp-arnd_start {
    align-items: flex-start; }
.wp-cen, .wp-cen_start {
  display: flex;
  align-items: center;
  justify-content: center; }
  .wp-cen_start {
    justify-content: flex-start; }

.m0a {
  margin: 0 auto; }
.mn {
  margin: 0; }
.mall5 {
  margin: 5px; }
.mall10 {
  margin: 10px; }
.mall15 {
  margin: 15px; }
.mall20 {
  margin: 20px; }
.mall25 {
  margin: 25px; }
.mall30 {
  margin: 30px; }
.mall35 {
  margin: 35px; }
.mall40 {
  margin: 40px; }
.mall45 {
  margin: 45px; }
.mall50 {
  margin: 50px; }
.mall55 {
  margin: 55px; }
.mall60 {
  margin: 60px; }
.mall65 {
  margin: 65px; }
.mall70 {
  margin: 70px; }
.mall75 {
  margin: 75px; }
.mall80 {
  margin: 80px; }
.mall85 {
  margin: 85px; }
.mall90 {
  margin: 90px; }
.mall95 {
  margin: 95px; }
.mall100 {
  margin: 100px; }
.mv5 {
  margin-top: 5px;
  margin-bottom: 5px; }
.mv10 {
  margin-top: 10px;
  margin-bottom: 10px; }
.mv15 {
  margin-top: 15px;
  margin-bottom: 15px; }
.mv20 {
  margin-top: 20px;
  margin-bottom: 20px; }
.mv25 {
  margin-top: 25px;
  margin-bottom: 25px; }
.mv30 {
  margin-top: 30px;
  margin-bottom: 30px; }
.mv35 {
  margin-top: 35px;
  margin-bottom: 35px; }
.mv40 {
  margin-top: 40px;
  margin-bottom: 40px; }
.mv45 {
  margin-top: 45px;
  margin-bottom: 45px; }
.mv50 {
  margin-top: 50px;
  margin-bottom: 50px; }
.mv55 {
  margin-top: 55px;
  margin-bottom: 55px; }
.mv60 {
  margin-top: 60px;
  margin-bottom: 60px; }
.mv65 {
  margin-top: 65px;
  margin-bottom: 65px; }
.mv70 {
  margin-top: 70px;
  margin-bottom: 70px; }
.mv75 {
  margin-top: 75px;
  margin-bottom: 75px; }
.mv80 {
  margin-top: 80px;
  margin-bottom: 80px; }
.mv85 {
  margin-top: 85px;
  margin-bottom: 85px; }
.mv90 {
  margin-top: 90px;
  margin-bottom: 90px; }
.mv95 {
  margin-top: 95px;
  margin-bottom: 95px; }
.mv100 {
  margin-top: 100px;
  margin-bottom: 100px; }
.mh5 {
  margin-left: 5px;
  margin-right: 5px; }
.mh10 {
  margin-left: 10px;
  margin-right: 10px; }
.mh15 {
  margin-left: 15px;
  margin-right: 15px; }
.mh20 {
  margin-left: 20px;
  margin-right: 20px; }
.mh25 {
  margin-left: 25px;
  margin-right: 25px; }
.mh30 {
  margin-left: 30px;
  margin-right: 30px; }
.mh35 {
  margin-left: 35px;
  margin-right: 35px; }
.mh40 {
  margin-left: 40px;
  margin-right: 40px; }
.mh45 {
  margin-left: 45px;
  margin-right: 45px; }
.mh50 {
  margin-left: 50px;
  margin-right: 50px; }
.mh55 {
  margin-left: 55px;
  margin-right: 55px; }
.mh60 {
  margin-left: 60px;
  margin-right: 60px; }
.mh65 {
  margin-left: 65px;
  margin-right: 65px; }
.mh70 {
  margin-left: 70px;
  margin-right: 70px; }
.mh75 {
  margin-left: 75px;
  margin-right: 75px; }
.mh80 {
  margin-left: 80px;
  margin-right: 80px; }
.mh85 {
  margin-left: 85px;
  margin-right: 85px; }
.mh90 {
  margin-left: 90px;
  margin-right: 90px; }
.mh95 {
  margin-left: 95px;
  margin-right: 95px; }
.mh100 {
  margin-left: 100px;
  margin-right: 100px; }
.ml5 {
  margin-left: 5px; }
.ml10 {
  margin-left: 10px; }
.ml15 {
  margin-left: 15px; }
.ml20 {
  margin-left: 20px; }
.ml25 {
  margin-left: 25px; }
.ml30 {
  margin-left: 30px; }
.ml35 {
  margin-left: 35px; }
.ml40 {
  margin-left: 40px; }
.ml45 {
  margin-left: 45px; }
.ml50 {
  margin-left: 50px; }
.ml55 {
  margin-left: 55px; }
.ml60 {
  margin-left: 60px; }
.ml65 {
  margin-left: 65px; }
.ml70 {
  margin-left: 70px; }
.ml75 {
  margin-left: 75px; }
.ml80 {
  margin-left: 80px; }
.ml85 {
  margin-left: 85px; }
.ml90 {
  margin-left: 90px; }
.ml95 {
  margin-left: 95px; }
.ml100 {
  margin-left: 100px; }
.mr5 {
  margin-right: 5px; }
.mr10 {
  margin-right: 10px; }
.mr15 {
  margin-right: 15px; }
.mr20 {
  margin-right: 20px; }
.mr25 {
  margin-right: 25px; }
.mr30 {
  margin-right: 30px; }
.mr35 {
  margin-right: 35px; }
.mr40 {
  margin-right: 40px; }
.mr45 {
  margin-right: 45px; }
.mr50 {
  margin-right: 50px; }
.mr55 {
  margin-right: 55px; }
.mr60 {
  margin-right: 60px; }
.mr65 {
  margin-right: 65px; }
.mr70 {
  margin-right: 70px; }
.mr75 {
  margin-right: 75px; }
.mr80 {
  margin-right: 80px; }
.mr85 {
  margin-right: 85px; }
.mr90 {
  margin-right: 90px; }
.mr95 {
  margin-right: 95px; }
.mr100 {
  margin-right: 100px; }
.mt5 {
  margin-top: 5px; }
.mt10 {
  margin-top: 10px; }
.mt15 {
  margin-top: 15px; }
.mt20 {
  margin-top: 20px; }
.mt25 {
  margin-top: 25px; }
.mt30 {
  margin-top: 30px; }
.mt35 {
  margin-top: 35px; }
.mt40 {
  margin-top: 40px; }
.mt45 {
  margin-top: 45px; }
.mt50 {
  margin-top: 50px; }
.mt55 {
  margin-top: 55px; }
.mt60 {
  margin-top: 60px; }
.mt65 {
  margin-top: 65px; }
.mt70 {
  margin-top: 70px; }
.mt75 {
  margin-top: 75px; }
.mt80 {
  margin-top: 80px; }
.mt85 {
  margin-top: 85px; }
.mt90 {
  margin-top: 90px; }
.mt95 {
  margin-top: 95px; }
.mt100 {
  margin-top: 100px; }
.mb5 {
  margin-bottom: 5px; }
.mb10 {
  margin-bottom: 10px; }
.mb15 {
  margin-bottom: 15px; }
.mb20 {
  margin-bottom: 20px; }
.mb25 {
  margin-bottom: 25px; }
.mb30 {
  margin-bottom: 30px; }
.mb35 {
  margin-bottom: 35px; }
.mb40 {
  margin-bottom: 40px; }
.mb45 {
  margin-bottom: 45px; }
.mb50 {
  margin-bottom: 50px; }
.mb55 {
  margin-bottom: 55px; }
.mb60 {
  margin-bottom: 60px; }
.mb65 {
  margin-bottom: 65px; }
.mb70 {
  margin-bottom: 70px; }
.mb75 {
  margin-bottom: 75px; }
.mb80 {
  margin-bottom: 80px; }
.mb85 {
  margin-bottom: 85px; }
.mb90 {
  margin-bottom: 90px; }
.mb95 {
  margin-bottom: 95px; }
.mb100 {
  margin-bottom: 100px; }

.pn {
  padding: 0; }
.pall5 {
  padding: 5px; }
.pall10 {
  padding: 10px; }
.pall15 {
  padding: 15px; }
.pall20 {
  padding: 20px; }
.pall25 {
  padding: 25px; }
.pall30 {
  padding: 30px; }
.pall35 {
  padding: 35px; }
.pall40 {
  padding: 40px; }
.pall45 {
  padding: 45px; }
.pall50 {
  padding: 50px; }
.pall55 {
  padding: 55px; }
.pall60 {
  padding: 60px; }
.pall65 {
  padding: 65px; }
.pall70 {
  padding: 70px; }
.pall75 {
  padding: 75px; }
.pall80 {
  padding: 80px; }
.pall85 {
  padding: 85px; }
.pall90 {
  padding: 90px; }
.pall95 {
  padding: 95px; }
.pall100 {
  padding: 100px; }
.pv5 {
  padding-top: 5px;
  padding-bottom: 5px; }
.pv10 {
  padding-top: 10px;
  padding-bottom: 10px; }
.pv15 {
  padding-top: 15px;
  padding-bottom: 15px; }
.pv20 {
  padding-top: 20px;
  padding-bottom: 20px; }
.pv25 {
  padding-top: 25px;
  padding-bottom: 25px; }
.pv30 {
  padding-top: 30px;
  padding-bottom: 30px; }
.pv35 {
  padding-top: 35px;
  padding-bottom: 35px; }
.pv40 {
  padding-top: 40px;
  padding-bottom: 40px; }
.pv45 {
  padding-top: 45px;
  padding-bottom: 45px; }
.pv50 {
  padding-top: 50px;
  padding-bottom: 50px; }
.pv55 {
  padding-top: 55px;
  padding-bottom: 55px; }
.pv60 {
  padding-top: 60px;
  padding-bottom: 60px; }
.pv65 {
  padding-top: 65px;
  padding-bottom: 65px; }
.pv70 {
  padding-top: 70px;
  padding-bottom: 70px; }
.pv75 {
  padding-top: 75px;
  padding-bottom: 75px; }
.pv80 {
  padding-top: 80px;
  padding-bottom: 80px; }
.pv85 {
  padding-top: 85px;
  padding-bottom: 85px; }
.pv90 {
  padding-top: 90px;
  padding-bottom: 90px; }
.pv95 {
  padding-top: 95px;
  padding-bottom: 95px; }
.pv100 {
  padding-top: 100px;
  padding-bottom: 100px; }
.ph0 {
  padding-left: 0;
  padding-right: 0; }
.ph5 {
  padding-left: 5px;
  padding-right: 5px; }
.ph10 {
  padding-left: 10px;
  padding-right: 10px; }
.ph15 {
  padding-left: 15px;
  padding-right: 15px; }
.ph20 {
  padding-left: 20px;
  padding-right: 20px; }
.ph25 {
  padding-left: 25px;
  padding-right: 25px; }
.ph30 {
  padding-left: 30px;
  padding-right: 30px; }
.ph35 {
  padding-left: 35px;
  padding-right: 35px; }
.ph40 {
  padding-left: 40px;
  padding-right: 40px; }
.ph45 {
  padding-left: 45px;
  padding-right: 45px; }
.ph50 {
  padding-left: 50px;
  padding-right: 50px; }
.ph55 {
  padding-left: 55px;
  padding-right: 55px; }
.ph60 {
  padding-left: 60px;
  padding-right: 60px; }
.ph65 {
  padding-left: 65px;
  padding-right: 65px; }
.ph70 {
  padding-left: 70px;
  padding-right: 70px; }
.ph75 {
  padding-left: 75px;
  padding-right: 75px; }
.ph80 {
  padding-left: 80px;
  padding-right: 80px; }
.ph85 {
  padding-left: 85px;
  padding-right: 85px; }
.ph90 {
  padding-left: 90px;
  padding-right: 90px; }
.ph95 {
  padding-left: 95px;
  padding-right: 95px; }
.ph100 {
  padding-left: 100px;
  padding-right: 100px; }
.pl5 {
  padding-left: 5px; }
.pl10 {
  padding-left: 10px; }
.pl15 {
  padding-left: 15px; }
.pl20 {
  padding-left: 20px; }
.pl25 {
  padding-left: 25px; }
.pl30 {
  padding-left: 30px; }
.pl35 {
  padding-left: 35px; }
.pl40 {
  padding-left: 40px; }
.pl45 {
  padding-left: 45px; }
.pl50 {
  padding-left: 50px; }
.pl55 {
  padding-left: 55px; }
.pl60 {
  padding-left: 60px; }
.pl65 {
  padding-left: 65px; }
.pl70 {
  padding-left: 70px; }
.pl75 {
  padding-left: 75px; }
.pl80 {
  padding-left: 80px; }
.pl85 {
  padding-left: 85px; }
.pl90 {
  padding-left: 90px; }
.pl95 {
  padding-left: 95px; }
.pl100 {
  padding-left: 100px; }
.pr5 {
  padding-right: 5px; }
.pr10 {
  padding-right: 10px; }
.pr15 {
  padding-right: 15px; }
.pr20 {
  padding-right: 20px; }
.pr25 {
  padding-right: 25px; }
.pr30 {
  padding-right: 30px; }
.pr35 {
  padding-right: 35px; }
.pr40 {
  padding-right: 40px; }
.pr45 {
  padding-right: 45px; }
.pr50 {
  padding-right: 50px; }
.pr55 {
  padding-right: 55px; }
.pr60 {
  padding-right: 60px; }
.pr65 {
  padding-right: 65px; }
.pr70 {
  padding-right: 70px; }
.pr75 {
  padding-right: 75px; }
.pr80 {
  padding-right: 80px; }
.pr85 {
  padding-right: 85px; }
.pr90 {
  padding-right: 90px; }
.pr95 {
  padding-right: 95px; }
.pr100 {
  padding-right: 100px; }
.pt5 {
  padding-top: 5px; }
.pt10 {
  padding-top: 10px; }
.pt15 {
  padding-top: 15px; }
.pt20 {
  padding-top: 20px; }
.pt25 {
  padding-top: 25px; }
.pt30 {
  padding-top: 30px; }
.pt35 {
  padding-top: 35px; }
.pt40 {
  padding-top: 40px; }
.pt45 {
  padding-top: 45px; }
.pt50 {
  padding-top: 50px; }
.pt55 {
  padding-top: 55px; }
.pt60 {
  padding-top: 60px; }
.pt65 {
  padding-top: 65px; }
.pt70 {
  padding-top: 70px; }
.pt75 {
  padding-top: 75px; }
.pt80 {
  padding-top: 80px; }
.pt85 {
  padding-top: 85px; }
.pt90 {
  padding-top: 90px; }
.pt95 {
  padding-top: 95px; }
.pt100 {
  padding-top: 100px; }
.pb5 {
  padding-bottom: 5px; }
.pb10 {
  padding-bottom: 10px; }
.pb15 {
  padding-bottom: 15px; }
.pb20 {
  padding-bottom: 20px; }
.pb25 {
  padding-bottom: 25px; }
.pb30 {
  padding-bottom: 30px; }
.pb35 {
  padding-bottom: 35px; }
.pb40 {
  padding-bottom: 40px; }
.pb45 {
  padding-bottom: 45px; }
.pb50 {
  padding-bottom: 50px; }
.pb55 {
  padding-bottom: 55px; }
.pb60 {
  padding-bottom: 60px; }
.pb65 {
  padding-bottom: 65px; }
.pb70 {
  padding-bottom: 70px; }
.pb75 {
  padding-bottom: 75px; }
.pb80 {
  padding-bottom: 80px; }
.pb85 {
  padding-bottom: 85px; }
.pb90 {
  padding-bottom: 90px; }
.pb95 {
  padding-bottom: 95px; }
.pb100 {
  padding-bottom: 100px; }

.flet:first-letter {
  text-transform: uppercase; }
.fsi {
  font-style: italic; }
.fw100 {
  font-weight: 100; }
.fw400 {
  font-weight: 400; }
.fw700 {
  font-weight: 700; }
.fw900 {
  font-weight: 900; }
.fsz10 {
  font-size: 0.625em; }
.fsz11 {
  font-size: 0.6875em; }
.fsz12 {
  font-size: 0.75em; }
.fsz13 {
  font-size: 0.8125em; }
.fsz14 {
  font-size: 0.875em; }
.fsz15 {
  font-size: 0.9375em; }
.fsz16 {
  font-size: 1em; }
.fsz17 {
  font-size: 1.0625em; }
.fsz18 {
  font-size: 1.125em; }
.fsz19 {
  font-size: 1.1875em; }
.fsz20 {
  font-size: 1.25em; }
.fsz21 {
  font-size: 1.3125em; }
.fsz22 {
  font-size: 1.375em; }
.fsz23 {
  font-size: 1.4375em; }
.fsz24 {
  font-size: 1.5em; }
.fsz25 {
  font-size: 1.5625em; }
.fsz26 {
  font-size: 1.625em; }
.fsz27 {
  font-size: 1.6875em; }
.fsz28 {
  font-size: 1.75em; }
.fsz29 {
  font-size: 1.8125em; }
.fsz30 {
  font-size: 1.875em; }
.fsz31 {
  font-size: 1.9375em; }
.fsz32 {
  font-size: 2em; }
.fsz33 {
  font-size: 2.0625em; }
.fsz34 {
  font-size: 2.125em; }
.fsz35 {
  font-size: 2.1875em; }
.fsz36 {
  font-size: 2.25em; }
.fsz37 {
  font-size: 2.3125em; }
.fsz38 {
  font-size: 2.375em; }
.fsz39 {
  font-size: 2.4375em; }
.fsz40 {
  font-size: 2.5em; }
.fsz41 {
  font-size: 2.5625em; }
.fsz42 {
  font-size: 2.625em; }
.fsz43 {
  font-size: 2.6875em; }
.fsz44 {
  font-size: 2.75em; }
.fsz45 {
  font-size: 2.8125em; }
.fsz46 {
  font-size: 2.875em; }
.fsz47 {
  font-size: 2.9375em; }
.fsz48 {
  font-size: 3em; }
.fsz49 {
  font-size: 3.0625em; }
.fsz50 {
  font-size: 3.125em; }

.lh10 {
  line-height: 10px; }
.lh11 {
  line-height: 11px; }
.lh12 {
  line-height: 12px; }
.lh13 {
  line-height: 13px; }
.lh14 {
  line-height: 14px; }
.lh15 {
  line-height: 15px; }
.lh16 {
  line-height: 16px; }
.lh17 {
  line-height: 17px; }
.lh18 {
  line-height: 18px; }
.lh19 {
  line-height: 19px; }
.lh20 {
  line-height: 20px; }
.lh21 {
  line-height: 21px; }
.lh22 {
  line-height: 22px; }
.lh23 {
  line-height: 23px; }
.lh24 {
  line-height: 24px; }
.lh25 {
  line-height: 25px; }
.lh26 {
  line-height: 26px; }
.lh27 {
  line-height: 27px; }
.lh28 {
  line-height: 28px; }
.lh29 {
  line-height: 29px; }
.lh30 {
  line-height: 30px; }
.lh31 {
  line-height: 31px; }
.lh32 {
  line-height: 32px; }
.lh33 {
  line-height: 33px; }
.lh34 {
  line-height: 34px; }
.lh35 {
  line-height: 35px; }
.lh36 {
  line-height: 36px; }
.lh37 {
  line-height: 37px; }
.lh38 {
  line-height: 38px; }
.lh39 {
  line-height: 39px; }
.lh40 {
  line-height: 40px; }
.lh41 {
  line-height: 41px; }
.lh42 {
  line-height: 42px; }
.lh43 {
  line-height: 43px; }
.lh44 {
  line-height: 44px; }
.lh45 {
  line-height: 45px; }
.lh46 {
  line-height: 46px; }
.lh47 {
  line-height: 47px; }
.lh48 {
  line-height: 48px; }
.lh49 {
  line-height: 49px; }
.lh50 {
  line-height: 50px; }

.filb-a {
  filter: brightness(200%); }

.tro45 {
  transform: rotate(45deg); }
.tro-45 {
  transform: rotate(-45deg); }
.tro90 {
  transform: rotate(90deg); }
.tro-90 {
  transform: rotate(-90deg); }
.tro180 {
  transform: rotate(180deg); }
.tro-180 {
  transform: rotate(-180deg); }

@media (max-width: 1300px) {
  .x-header-wp {
    width: 98%; }
  .x-circles-wp {
    padding: 50px 80px 0 110px; } }
@media (max-width: 1199.98px) {
  .x-page-head:after {
    display: none; }
  .x-page-head.top {
    padding: 15px 0 20px; }
  .x-if-tablet-off {
    display: none; }
  .x-if-tablet-on {
    display: block; }
  .x-circles-wp {
    padding: 50px 80px 0; }
    .x-circles-wp .x-box-e-char {
      width: 100%;
      margin-bottom: 35px; }
      .x-circles-wp .x-box-e-char-a {
        transform: translateY(0); }
        .x-circles-wp .x-box-e-char-a:after {
          display: none; }
  .x-box-k-left, .x-box-k-right {
    width: 50%; }
  .x-box-k-left {
    order: 3; }
  .x-box-k-mid {
    order: 1;
    width: 100%; }
  .x-box-k-right {
    order: 2; }
  .x-box-l-info {
    width: 100%; }
  .x-box-l-map {
    width: 100%; }
  .x-header-user-nav-del {
    margin: 0 10px; }
  .x-chars-graph-names-item {
    font-size: 12px; }
  .x-chars-graph-line {
    height: 280px;
    width: 86%;
    margin: 0 auto; } }
@media (max-width: 991.98px) {
  body {
    font-size: 15px; }

  .x-if-mobile-off {
    display: none; }
  .x-if-mobile-menu {
    position: absolute;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: #393939; }
    .x-if-mobile-menu > * {
      height: 60px;
      line-height: 60px;
      text-align: center;
      display: block;
      border: 1px solid #000000; }
  .x-btn-menu {
    display: block; }
  .x-user {
    display: inline-block; }
    .x-user-menu {
      top: 13px !important; }
      .x-user-menu-info {
        display: block; }
  .x-header {
    max-height: 110px; }
    .x-header-wp {
      width: 92%; }
    .x-header-nav, .x-header-user {
      width: 50%; }
    .x-header-user {
      justify-content: flex-end; }
    .x-header-nav-menu {
      top: 22px !important; }
    .x-header-logo {
      top: -28px;
      width: 113px;
      height: 110px;
      background-size: contain; }
  .x-circles-wp {
    padding: 50px 0 0; }
  .x-chars-badges-item-img {
    width: 75%; }
  .x-chars-prev {
    left: -10px; }
  .x-chars-next {
    right: -10px; }
  .x-racer {
    margin-bottom: 20px; }
    .x-racer-user {
      width: 100%;
      justify-content: center; }
      .x-racer-user-ava {
        max-width: 50px;
        min-width: 50px;
        height: 50px; }
        .x-racer-user-ava:after {
          font-size: 44px; }
      .x-racer-user-name {
        padding: 0 0 0 20px; }
    .x-racer-info {
      max-width: 240px;
      width: 100%;
      margin: 20px auto 0; }
  .x-box-h-item {
    justify-content: center; } }
@media (max-width: 767.98px) {
  body {
    font-size: 14px; }

  .x-box-c-info-a, .x-box-c-info-b {
    width: 50%; }
  .x-box-g {
    flex-flow: wrap;
    justify-content: center; }
    .x-box-g-ava {
      margin: 0 0 20px; }
    .x-box-g-ctrl {
      display: none; }
    .x-box-g-mobile {
      display: block; }
  .x-box-j {
    border: none;
    border-top: 1px solid #BBBBBB; }
    .x-box-j-info {
      width: 100%;
      text-align: center; }
  .x-box-f.big .x-box-f-mid-canvas {
    width: 250px !important;
    height: 250px !important;
    margin: -110px auto 0; }
    .x-box-f.big .x-box-f-mid-canvas-a {
      line-height: 22px; }
      .x-box-f.big .x-box-f-mid-canvas-a-title {
        font-size: 3.125em; }
      .x-box-f.big .x-box-f-mid-canvas-a-text {
        font-size: 1em; }
  .x-box-f.big .x-box-f-mid-info {
    margin: 0; }
    .x-box-f.big .x-box-f-mid-info-item i {
      font-size: 32px; }
    .x-box-f.big .x-box-f-mid-info-item-b {
      font-size: 1em; } }
@media (max-width: 575.98px) {
  body {
    font-size: 13px; }

  .x-if-smartphone-off {
    display: none; }
  .x-if-smartphone-on {
    display: block; }
  .x-section-a {
    max-height: 488px; }
  .x-login {
    width: 96%;
    margin: 0 auto; }
    .x-login-box {
      padding: 25px 20px 15px 20px; }
      .x-login-box-inputs {
        max-width: initial;
        margin-bottom: 20px; }
      .x-login-box-a {
        justify-content: flex-end;
        margin: 0; }
      .x-login-box-b {
        position: absolute;
        bottom: 30px; }
  .x-box-c {
    padding: 10px 90px 12px 15px; }
    .x-box-c-info-a {
      width: 100%; }
    .x-box-c-info-b {
      display: none; }
  .x-box-e-char-canvas {
    width: 140px !important;
    height: 140px !important; }
    .x-box-e-char-canvas-mid-b {
      line-height: 1em; }
  .x-box-e-char-a-canvas {
    width: 70px !important;
    height: 70px !important; }
  .x-box-f {
    display: block; }
    .x-box-f-mid-canvas {
      width: 250px !important;
      height: 250px !important;
      margin: -110px auto 0; }
      .x-box-f-mid-canvas-b {
        right: 50%;
        top: 80%;
        transform: translateX(50%); }
    .x-box-f-mid-info {
      margin: -20px 0 0; }
    .x-box-f-mid.gray .x-box-f-mid-canvas-a {
      top: 55%; }
    .x-box-f-mid.gray .x-box-f-mid-canvas-b {
      right: 11%;
      top: 26%; }
    .x-box-f-bage-item {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #707070; }
      .x-box-f-bage-item-img {
        height: 40px; }
      .x-box-f-bage-item:nth-child(odd) {
        border-right: none; }
      .x-box-f-bage-item:nth-last-child(2) {
        border-bottom: 1px solid #707070; }
    .x-box-f.big .x-box-f-head.share {
      padding: 10px 20px;
      font-size: 18px; }
    .x-box-f.big .x-box-f-top-b {
      font-size: 24px; }
    .x-box-f.big .x-box-f-top-c-canvas {
      height: 111px !important; }
    .x-box-f.big .x-box-f-top-c-info {
      padding: 10px; }
      .x-box-f.big .x-box-f-top-c-info-item {
        padding: 2px 6px 2px 8px; }
    .x-box-f.big .x-box-f-mid.gray .x-box-f-mid-canvas {
      height: 70px !important; }
  .x-box-k-wp {
    max-height: initial; }
  .x-box-k-left, .x-box-k-right {
    width: 100%; }
    .x-box-k-left:before, .x-box-k-right:before {
      display: none; }
  .x-circles .x-box-e-char-canvas {
    height: 180px !important;
    width: 180px !important; }
  .x-circles .x-box-e-char-a-text {
    margin: 10px 0 0; }
  .x-circles .x-box-e-char-a-title {
    color: #002EAE;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 12px;
    margin: 0 0 5px; }
  .x-btn-a_mid {
    padding: 12px 17px;
    margin: 0; }
  .x-nav {
    margin: 12px -20px 75px; }
    .x-nav-item {
      padding: 12px 15px 5px; }
      .x-nav-item.premium {
        padding: 12px 17px 5px 50px; }
  .x-filter-find-in {
    max-width: 250px; }
  .x-pagination-btn:nth-child(6), .x-pagination-btn:nth-child(7), .x-pagination-btn:nth-child(8) {
    display: none; } }

/*# sourceMappingURL=main.css.map */
