@font-face {
  font-family: 'KeplerStd';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/KeplerStdRegular/KeplerStdRegular.eot');
  src: url('../fonts/KeplerStdRegular/KeplerStdRegular.eot') format('embedded-opentype'),
  url('../fonts/KeplerStdRegular/KeplerStdRegular.woff2') format('woff2'),
  url('../fonts/KeplerStdRegular/KeplerStdRegular.woff') format('woff'),
  url('../fonts/KeplerStdRegular/KeplerStdRegular.ttf') format('truetype'),
  url('../fonts/KeplerStdRegular/KeplerStdRegular.svg#KeplerStdRegular') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
  url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'),
  url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
  url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
  url('../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: url('../fonts/RobotoBold/RobotoBold.eot') format('embedded-opentype'),
  url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'),
  url('../fonts/RobotoBold/RobotoBold.woff') format('woff'),
  url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'),
  url('../fonts/RobotoBold/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/RobotoLight/Roboto-Light.eot');
  src: url('../fonts/RobotoLight/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoLight/Roboto-Light.woff2') format('woff2'),
  url('../fonts/RobotoLight/Roboto-Light.woff') format('woff'),
  url('../fonts/RobotoLight/Roboto-Light.ttf') format('truetype'),
  url('../fonts/RobotoLight/Roboto-Light.svg#Roboto-Light') format('svg');
}






///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
@font-face {
  font-family: 'OTAKAM33';
  src: url('../fonts/OTAKAM33/OTAKAM33.eot');
  src: url('../fonts/OTAKAM33/OTAKAM33.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OTAKAM33/OTAKAM33.woff') format('woff'),
  url('../fonts/OTAKAM33/OTAKAM33.ttf') format('truetype'),
  url('../fonts/OTAKAM33/OTAKAM33.svg#OTAKAM33') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='x-icon']{
  display: inline-block;
  vertical-align: middle;
  line-height: 77%;

  &:before{
    font-family: 'OTAKAM33';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
}
.x-icon-angle:before{content:'\0041';}
.x-icon-arr:before{content:'\0042';}
.x-icon-bicycle:before{content:'\0043';}
.x-icon-bicycle-a:before{content:'\0044';}
.x-icon-bicycle-b:before{content:'\0045';}
.x-icon-bicycle-c:before{content:'\0046';}
.x-icon-bicycle-d:before{content:'\0047';}
.x-icon-bicycles:before{content:'\0048';}
.x-icon-camera:before{content:'\0049';}
.x-icon-char:before{content:'\004a';}
.x-icon-check:before{content:'\004b';}
.x-icon-clock:before{content:'\004c';}
.x-icon-close:before{content:'\004d';}
.x-icon-cup:before{content:'\004e';}
.x-icon-edit:before{content:'\004f';}
.x-icon-eye:before{content:'\0050';}
.x-icon-fb:before{content:'\0051';}
.x-icon-fire:before{content:'\0052';}
.x-icon-flag:before{content:'\0053';}
.x-icon-gear:before{content:'\0054';}
.x-icon-i:before{content:'\0055';}
.x-icon-in:before{content:'\0056';}
.x-icon-mail:before{content:'\0057';}
.x-icon-mountains:before{content:'\0058';}
.x-icon-mountains-a:before{content:'\0059';}
.x-icon-mountains-b:before{content:'\005a';}
.x-icon-move:before{content:'\0061';}
.x-icon-news:before{content:'\0062';}
.x-icon-path:before{content:'\0063';}
.x-icon-question:before{content:'\0064';}
.x-icon-search:before{content:'\0065';}
.x-icon-search-a:before{content:'\0066';}
.x-icon-send:before{content:'\0067';}
.x-icon-share:before{content:'\0068';}
.x-icon-speed:before{content:'\0069';}
.x-icon-speed-a:before{content:'\006a';}
.x-icon-trash:before{content:'\006b';}
.x-icon-triangle:before{content:'\006c';}
.x-icon-tw:before{content:'\006d';}
.x-icon-upload:before{content:'\006e';}
.x-icon-user:before{content:'\006f';}
.x-icon-user-a:before{content:'\0070';}
.x-icon-user-b:before{content:'\0071';}
.x-icon-users:before{content:'\0072';}
.x-icon-plus:before{content:'\0073';}



.x-icon-angle-l{
  @extend .x-icon-angle;
  transform: rotate(-90deg);
}
.x-icon-angle-r{
  @extend .x-icon-angle;
  transform: rotate(90deg);
}
.x-icon-angle-b{
  @extend .x-icon-angle;
  transform: rotate(180deg);
}
.x-icon-arr-l{
  @extend .x-icon-arr;
  transform: rotate(180deg);
}