//.x-icon {
//  background-image: url(../i/icons/spritesheet.png);
//  background-repeat: no-repeat;
//  display: inline-block;
//  vertical-align: middle;
//}
//
//
//
//
//
//
//
//
//.x-icon-angle-b {
//  width: 12px;
//  height: 8px;
//  background-position: -5px -5px;
//}
//
//.x-icon-angle-b2 {
//  width: 29px;
//  height: 16px;
//  background-position: -27px -5px;
//}
//
//.x-icon-angle-l2 {
//  width: 11px;
//  height: 17px;
//  background-position: -66px -5px;
//}
//
//.x-icon-angle-r {
//  width: 13px;
//  height: 20px;
//  background-position: -87px -5px;
//}
//
//.x-icon-angle-r2 {
//  width: 11px;
//  height: 17px;
//  background-position: -110px -5px;
//}
//
//.x-icon-angle-t {
//  width: 12px;
//  height: 8px;
//  background-position: -131px -5px;
//}
//
//.x-icon-angle-ud {
//  width: 12px;
//  height: 27px;
//  background-position: -153px -5px;
//}
//
//.x-icon-arr-l {
//  width: 31px;
//  height: 18px;
//  background-position: -175px -5px;
//}
//
//.x-icon-arr-r {
//  width: 25px;
//  height: 23px;
//  background-position: -216px -5px;
//}
//
//.x-icon-arr-r2 {
//  width: 24px;
//  height: 21px;
//  background-position: -251px -5px;
//}
//
//.x-icon-bicycle {
//  width: 35px;
//  height: 30px;
//  background-position: -5px -36px;
//}
//
//.x-icon-bicycle2 {
//  width: 42px;
//  height: 26px;
//  background-position: -50px -38px;
//}
//
//.x-icon-camera {
//  width: 32px;
//  height: 24px;
//  background-position: -102px -36px;
//}
//
//.x-icon-check {
//  width: 27px;
//  height: 22px;
//  background-position: -175px -36px;
//}
//
//.x-icon-check2 {
//  width: 18px;
//  height: 14px;
//  background-position: -251px -36px;
//}
//
//.x-icon-check3 {
//  width: 18px;
//  height: 14px;
//  background-position: -144px -60px;
//}
//
//.x-icon-clock {
//  width: 38px;
//  height: 48px;
//  background-position: -212px -60px;
//}
//
//.x-icon-clock2 {
//  width: 27px;
//  height: 33px;
//  background-position: -5px -118px;
//}
//
//.x-icon-close {
//  width: 15px;
//  height: 15px;
//  background-position: -260px -60px;
//}
//
//.x-icon-close2 {
//  width: 15px;
//  height: 15px;
//  background-position: -5px -85px;
//}
//
//.x-icon-cup {
//  width: 26px;
//  height: 28px;
//  background-position: -42px -118px;
//}
//
//.x-icon-dotline {
//  width: 25px;
//  height: 5px;
//  background-position: -78px -118px;
//}
//
//.x-icon-edit {
//  width: 25px;
//  height: 25px;
//  background-position: -113px -118px;
//}
//
//.x-icon-edit2 {
//  width: 16px;
//  height: 16px;
//  background-position: -30px -85px;
//}
//
//.x-icon-eye {
//  width: 22px;
//  height: 18px;
//  background-position: -148px -118px;
//}
//
//.x-icon-fb {
//  width: 11px;
//  height: 23px;
//  background-position: -56px -85px;
//}
//
//.x-icon-fb2 {
//  width: 11px;
//  height: 23px;
//  background-position: -77px -85px;
//}
//
//.x-icon-fire {
//  width: 21px;
//  height: 32px;
//  background-position: -180px -118px;
//}
//
//.x-icon-flag {
//  width: 19px;
//  height: 28px;
//  background-position: -260px -85px;
//}
//
//.x-icon-gear {
//  width: 23px;
//  height: 24px;
//  background-position: -211px -118px;
//}
//
//.x-icon-graph {
//  width: 29px;
//  height: 17px;
//  background-position: -244px -123px;
//}
//
//.x-icon-i {
//  width: 10px;
//  height: 18px;
//  background-position: -98px -85px;
//}
//
//.x-icon-in {
//  width: 23px;
//  height: 22px;
//  background-position: -78px -150px;
//}
//
//.x-icon-mail {
//  width: 20px;
//  height: 21px;
//  background-position: -148px -150px;
//}
//
//.x-icon-mountains {
//  width: 39px;
//  height: 24px;
//  background-position: -211px -152px;
//}
//
//.x-icon-mountains2 {
//  width: 44px;
//  height: 22px;
//  background-position: -5px -186px;
//}
//
//.x-icon-mountains3 {
//  width: 49px;
//  height: 22px;
//  background-position: -59px -186px;
//}
//
//.x-icon-news {
//  width: 28px;
//  height: 24px;
//  background-position: -118px -186px;
//}
//
//.x-icon-plus {
//  width: 22px;
//  height: 22px;
//  background-position: -156px -186px;
//}
//
//.x-icon-question {
//  width: 18px;
//  height: 26px;
//  background-position: -260px -150px;
//}
//
//.x-icon-racing {
//  width: 61px;
//  height: 37px;
//  background-position: -188px -186px;
//}
//
//.x-icon-rasing2 {
//  width: 100px;
//  height: 55px;
//  background-position: -285px -5px;
//}
//
//.x-icon-rasing3 {
//  width: 101px;
//  height: 54px;
//  background-position: -288px -123px;
//}
//
//.x-icon-search {
//  width: 32px;
//  height: 32px;
//  background-position: -289px -70px;
//}
//
//.x-icon-search2 {
//  width: 32px;
//  height: 32px;
//  background-position: -331px -70px;
//}
//
//.x-icon-send {
//  width: 21px;
//  height: 18px;
//  background-position: -172px -70px;
//}
//
//.x-icon-share {
//  width: 26px;
//  height: 29px;
//  background-position: -259px -187px;
//}
//
//.x-icon-speed {
//  width: 36px;
//  height: 43px;
//  background-position: -295px -187px;
//}
//
//.x-icon-speed2 {
//  width: 26px;
//  height: 20px;
//  background-position: -341px -187px;
//}
//
//.x-icon-trash {
//  width: 24px;
//  height: 39px;
//  background-position: -341px -217px;
//}
//
//.x-icon-triangle-b {
//  width: 12px;
//  height: 6px;
//  background-position: -118px -70px;
//}
//
//.x-icon-tw {
//  width: 23px;
//  height: 19px;
//  background-position: -5px -266px;
//}
//
//.x-icon-tw2 {
//  width: 23px;
//  height: 19px;
//  background-position: -38px -266px;
//}
//
//.x-icon-upload {
//  width: 30px;
//  height: 23px;
//  background-position: -71px -266px;
//}
//
//.x-icon-user {
//  width: 28px;
//  height: 43px;
//  background-position: -111px -266px;
//}
//
//.x-icon-user2 {
//  width: 22px;
//  height: 16px;
//  background-position: -149px -266px;
//}
//
//.x-icon-user3 {
//  width: 48px;
//  height: 38px;
//  background-position: -181px -266px;
//}
