@media (max-width: 1300px) {
  .x{
    &-header{
      &-wp {
        width: 98%;
      }
    }

    &-circles{
      &-wp {
        padding: 50px 80px 0 110px;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .x{
    &-page{
      &-head{
        &:after{
          display: none;
        }

        &.top {
          padding: 15px 0 20px;
        }
      }
    }

    &-if{
      &-tablet{
        &-off{
          display: none;
        }
        &-on{
          display: block;
        }
      }
    }

    &-circles{
      &-wp {
        padding: 50px 80px 0;

        .x-box-e-char{
          width: 100%;
          margin-bottom: 35px;

          &-a{
            transform: translateY(0);
            &:after {
              display: none;
            }
          }
        }
      }
    }

    &-box{
      &-k{
        &-left,
        &-right{
          width: 50%;
        }


        &-left{
          order: 3;
        }
        &-mid{
          order: 1;
          width: 100%;
        }
        &-right{
          order: 2;
        }
      }

      &-l{
        &-info{
          width: 100%;
        }
        &-map{
          width: 100%;
        }

      }
    }

    &-header-user-nav-del {
      margin: 0 10px;
    }

    &-chars-graph{
      &-names-item {
        font-size: 12px;
      }

      &-line {
        height: 280px;
        width: 86%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 991.98px) {
  body{
    font-size: 15px;
  }

  .x{
    &-if{
      &-mobile{
        &-off{
          display: none;
        }


        &-menu{
          position: absolute;
          display: none;
          width: 100%;
          margin: 0;
          padding: 0;
          border: none;
          border-radius: 0;
          background: #393939;

          >*{
            height: 60px;
            line-height: 60px;
            text-align: center;
            display: block;
            border: 1px solid #000000;
          }
        }
      }
    }

    &-btn{
      &-menu{
        display: block;
      }
    }

    &-user{
      display: inline-block;

      &-menu{
        top: 13px !important;
        &-info{
          display: block;
        }
      }
    }

    &-header{
      max-height: 110px;


      &-wp {
        width: 92%;
      }

      &-nav,
      &-user {
        width: 50%;
      }
      &-user {
        justify-content: flex-end;
      }

      &-nav{
        &-menu{
          top: 22px !important;
        }
      }

      &-logo{
        top: -28px;
        width: 113px;
        height: 110px;
        background-size: contain;
      }
    }

    &-circles{
      &-wp {
        padding: 50px 0 0;
      }
    }

    &-chars{
      &-badges{
        &-item{
          &-img {
            width: 75%;
          }
        }
      }

      &-prev {
        left: -10px;
      }
      &-next {
        right: -10px;
      }
    }

    &-racer{
      margin-bottom: 20px;

      &-user{
        width: 100%;
        justify-content: center;

        &-ava {
          max-width: 50px;
          min-width: 50px;
          height: 50px;

          &:after{
            font-size: 44px;
          }
        }

        &-name{
          padding: 0 0 0 20px;
        }
      }

      &-info{
        max-width: 240px;
        width: 100%;
        margin: 20px auto 0;
      }
    }

    &-box{
      &-h{
        &-item {
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  body{
    font-size: 14px;
  }

  .x{
    &-box{
      &-c{
        &-info{
          &-a, &-b{
            width: 50%;
          }
        }
      }

      &-g{
        flex-flow: wrap;
        justify-content: center;

        &-ava {
          margin: 0 0 20px;
        }

        &-ctrl{
          display: none;
        }

        &-mobile{
          display: block;
        }
      }

      &-j {
        border: none;
        border-top: 1px solid #BBBBBB;


        &-info {
          width: 100%;
          text-align: center;
        }
      }

      &-f.big{
        .x-box-f{
          &-mid{
            &-canvas{
              width: 250px !important;
              height: 250px !important;
              margin: -110px auto 0;

              &-a{
                line-height: 22px;

                &-title{
                  font-size: em(50);
                }
                &-text{
                  font-size: em(16);
                }
              }
            }

            &-info{
              margin: 0;

              &-item{
                i {
                  font-size: 32px;
                }

                &-b {
                  font-size: em(16);
                }
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 575.98px) {
  body{
    font-size: 13px;
  }

  .x{
    &-if{
      &-smartphone{
        &-off{
          display: none;
        }
        &-on{
          display: block;
        }
      }
    }

    &-section{
      &-a {
        max-height: 488px;
      }
    }

    &-login{
      width: 96%;
      margin: 0 auto;

      &-box{
        padding: 25px 20px 15px 20px;


        &-inputs{
          max-width: initial;
          margin-bottom: 20px;
        }

        &-a{
          justify-content: flex-end;
          margin: 0;
        }
        &-b{
          position: absolute;
          bottom: 30px;
        }
      }
    }

    &-box{
      &-c{
        padding: 10px 90px 12px 15px;
        &-info{
          &-a{
            width: 100%;
          }
          &-b{
            display: none;
          }
        }
      }

      &-e{
        &-char{
          &-canvas{
            width: 140px !important;
            height: 140px !important;

            &-mid{
              &-b{
                line-height: em(16);

              }
            }
          }

          &-a{
            &-canvas{
              width: 70px !important;
              height: 70px !important;
            }
          }
        }
      }

      &-f{
        display: block;

        &-mid{
          &-canvas{
            width: 250px !important;
            height: 250px !important;
            margin: -110px auto 0;

            &-b {
              right: 50%;
              top: 80%;
              transform: translateX(50%);
            }
          }
          &-info {
            margin: -20px 0 0;
          }

          &.gray{
            .x-box-f-mid{
              &-canvas{
                &-a{
                  top: 55%;
                }

                &-b {
                  right: 11%;
                  top: 26%;
                }
              }
            }
          }
        }

        &-bage{
          &-item {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #707070;

            &-img {
              height: 40px;
            }

            &:nth-child(odd) {
              border-right: none;
            }
            &:nth-last-child(2) {
              border-bottom: 1px solid #707070;
            }
          }
        }

        &.big {

          .x-box-f{
            &-head.share {
              padding: 10px 20px;
              font-size: 18px;
            }

            &-top{
              &-b{
                font-size: 24px;
              }

              &-c{
                &-canvas {
                  height: 111px !important;
                }

                &-info {
                  padding: 10px;

                  &-item{
                    padding: 2px 6px 2px 8px;
                  }
                }
              }
            }

            &-mid.gray{
              .x-box-f-mid-canvas{
                height: 70px !important;
              }
            }
          }
        }
      }

      &-k{
        &-wp{
          max-height: initial;
        }


        &-left,
        &-right{
          width: 100%;

          &:before{
            display: none;
          }
        }
      }
    }

    &-circles{
      .x-box-e-char{
        &-canvas {
          height: 180px !important;
          width: 180px !important;
        }

        &-a{
          &-text {
            margin: 10px 0 0;
          }
          &-title {
            color: #002EAE;
            font-weight: 700;
            font-size: 0.75em;
            line-height: 12px;
            margin: 0 0 5px;
          }
        }
      }
    }

    &-btn{
      &-a{
        &_mid {
          padding: 12px 17px;
          margin: 0;
        }
      }
    }

    &-nav{
      margin: 12px -20px 75px;

      &-item {
        padding: 12px 15px 5px;


        &.premium {
          padding: 12px 17px 5px 50px;
        }
      }
    }

    &-filter{
      &-find{
        &-in {
          max-width: 250px;
        }
      }
    }

    &-pagination{
      &-btn{
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8){
          display: none;
        }
      }
    }
  }
}

