.theme-green {
  .back-bar {
    height: 1px;
    background: #707070;


    .selected-bar {
      background-color: #000000;
      background-image: none;
      height: 4px;
      top: -2px;
    }

    .pointer {
      top: -7px;
      border: 1px solid #707070;
      background: #ffffff;
      background-image: none;
    }
  }
}


.slider-container .back-bar .pointer-label {
  top: 16px;
  font-size: 14px;
}

