body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
}


// colors
.cw{
  color: #fff;
}
.cb{
  color: #000;
}
.c1{
  color: #0093FF;
}
.c2{
  color: #6C6C6C;
}
.c3{
  color: #6CC6FF;
}
.c4{
  color: #002EAE;
}
.c5{
  color: #FF39CA;
}
.c6{
  color: #8B8B8B;
}



// shared
.x{
  &-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &-wp{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    &-a{
      max-width: 1350px;
      width: 100%;
      margin: 0 auto;
      height: 100%;
      padding: 0 20px;
    }

    &-b{
      max-width: 870px;
      width: 100%;
      margin: 0 auto;
      height: 100%;
      padding: 0 20px;
    }

    &-c{
      max-width: 1390px;
      width: 100%;
      margin: 0 auto;
      height: 100%;
    }

    &-d{
      max-width: 617px;
      width: 100%;
      margin: 0 auto;
      height: 100%;
    }

    &-e{
      max-width: 1091px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &-link{
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: em(18);
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear;

    &:hover{
      color: #EAFF00;
    }

    &_a{
      @extend .x-link;
      font-size: em(16);
    }

    &-a{
      font-size: em(12);
      color: #6CC6FF;
      text-decoration: underline;
      display: inline-block;
      vertical-align: middle;

      &:hover{
        color: #6CC6FF;
        text-decoration: none;
      }
    }

    &-b{
      font-size: em(16);
      color: #001C6A;
      text-decoration: underline;

      &:hover{
        color: #001C6A;
        text-decoration: none;
      }
    }

    &-c{
      color: #000000;
      text-decoration: underline;

      &:hover{
        color: #000000;
        text-decoration: none;
      }
    }

    &-d{
      color: #8B8B8B;
      text-decoration: underline;

      &:hover{
        color: #8B8B8B;
        text-decoration: none;
      }
    }

    &-e{
      color: #fff;
      text-decoration: underline;
      font-size: inherit;

      &:hover{
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &-input{
    &-a{
      width: 100%;
      padding: 15px 17px;
      border-radius: 12px;
      border: 1px solid #BABABA;
      font-size: em(15);
    }

    &-b{
      display: block;
      width: 100%;
      &-label{
        margin: 10px 0 5px 10px;
        display: block;
      }

      &-in{
        width: 100%;
        padding: 13px;
        font-size: em(15);
        color: #000;
        border: 1px solid #6CC6FF;
        resize: vertical;
      }

      &.withpadd{
        padding: 0 20px;
      }
    }

    &-c{
      width: 100%;
      padding: 6px 15px;
      border-radius: 1px;
      font-size: em(15);
      border: 1px solid #707070;
      color: #868686;
    }


    &-onsubmit{
      background: #F0F0F0;
      padding: 35px 20px;

      .x-input{
        &-b{
          &-in{
            border: none;
            border-top: 1px solid #BBBBBB;
            background: transparent;
            pointer-events: none;
          }
        }
      }

      &-a{
        @extend .x-input-onsubmit;
        padding: 0;

        .x{
          &-box-c{
            background: #E2E2E2;
          }
        }
      }
    }
  }

  &-select{
    position: relative;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: white;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      right: 10px;
      bottom: 0;
      margin: auto;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #000000 transparent transparent transparent;
      pointer-events: none;
    }

    &:before {
      width: 30px;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      content: '';
      pointer-events: none;
    }

    select {
      font-size: 14px;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      background: transparent;
      height: 100%;
      cursor: pointer;
      outline: none;
      padding-right: 35px;
      padding-left: 15px;
      border: 1px solid #707070;
      -moz-appearance: none;
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
      -webkit-appearance: none;
      &::-ms-expand {
        display: none;
      }
    }


    &_a{
      @extend .x-select;
      max-width: 222px;
      width: 100%;
      select{
        width: 100%;
      }
    }
  }

  &-title{
    &-a{
      text-align: center;
      //font-family: 'KeplerStd', sans-serif;
      font-size: em(50);
      margin: 0 0 22px;
    }

    &-b{
      text-align: center;
      //font-family: 'KeplerStd', sans-serif;
      font-size: em(32);
      margin: 0 0 25px;
    }

    &-c{
      text-align: center;
      //font-family: 'KeplerStd', sans-serif;
      font-size: em(50);
      margin: 0 0 36px;
      position: relative;


      &:after{
        content: '';
        position: absolute;
        bottom: 17px;
        left: 0;
        right: 0;
        height: 1px;
        background: #707070;
      }
    }

    &-d{
      font-size: em(30);
      color: #002EAE;
      text-align: center;
      margin-bottom: 27px;
    }

    &-e{
      text-align: center;
      font-size: em(38);
      font-weight: 100;
      margin-bottom: 37px;
      letter-spacing: -0.2px;
    }

    &-f{
      font-size: em(40);
      font-weight: 300;
      text-align: center;
      padding: 30px 0;
    }
  }

  &-social{
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #6c6c6c;
    color: #6c6c6c;
    font-size: 20px;
    position: relative;
    margin-right: 10px;
    text-align: center;
    line-height: 51px;
    -webkit-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear;

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 50ms linear;
      -o-transition: all 50ms linear;
      transition: all 50ms linear;
    }

    &:hover{
      opacity: 0.8;
      color: #6c6c6c;
    }

    &:active{
      opacity: 0.5;
    }

    &.black{
      border: 2px solid #000;
      color: #000;

      &:hover{
        color: #000;
      }
    }
  }

  &-char{
    &-a{
      margin: 0 auto 60px;
      .x-box-e-char-canvas{
        width: 270px !important;
        height: 270px !important;
      }
    }
  }

  &-chars{
    position: relative;
    min-width: 1410px;
    overflow-x: scroll;

    &-wp{
      overflow-y: scroll;
    }

    &-graph{
      position: relative;
      background: #F4F4F4;
      min-width: 888px;

      &-bar{
        height: 235px;
        margin: 30px 0 10px;
      }
      &-line{
        height: 280px;
        width: 88%;
        margin: 0 auto;
      }
      &-info{
        position: absolute;
        left: 50%;
        top: 70%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        color: #002EAE;
        font-size: em(24);

        .x-icon-i{
          font-size: 32px;
          color: #6C6C6C;
          margin-left: 20px;
        }
      }

      &-names{
        @extend .x-flex;
        width: 96%;
        margin: 0 auto 15px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-flow: nowrap;
        flex-flow: nowrap;


        &-item{
          color: #000;
          padding: 0 10px;
          font-size: 15px;
          font-weight: 700;
          text-align: center;
        }
      }
    }

    &-badges{
      background: #414141;
      width: 98%;
      margin: 0 auto;
      padding: 0 30px;

      &-wp{
        @extend .x-flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
      }

      &-item{
        width: 100%;
        border-right: 1px solid rgba(255, 255, 255, 0.14);
        text-align: center;

        &:last-child{border: none;}

        &-img{
          display: block;
          margin: 0 auto 20px;
          max-width: 60px;
          width: 100%;
        }
      }
    }

    &-btn{
      background: #6CC6FF;
      color: #000;
      width: 100%;
      border: none;
      padding: 10px;

      .x-icon-angle{
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }

      &[aria-expanded="true"]{
        .x-icon-angle{
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }

    &-prev,
    &-next{
      position: absolute;
      z-index: 1;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &-next{
      left: initial;
      right: 0;
    }




    &.two &-graph-line{
      width: 50%;
    }
    &.three &-graph-line{
      width: 68%;
    }
    &.four &-graph-line{
      width: 76%;
    }
    &.five &-graph-line{
      width: 82%;
    }
    &.six &-graph-line{
      width: 84%;
    }
    &.seven &-graph-line{
      width: 86%;
    }
  }

  &-hr{
    width: 100%;
    height: 1px;
    border: none;
    background: #707070;
    margin: 22px 0;

    &-a{
      @extend .x-hr;
      margin: 20px 0 40px;
      background: #BBBBBB;
    }

    &-b{
      @extend .x-hr;
      margin: 35px 0 20px;
      background: #6CC6FF;
    }

    &-c{
      @extend .x-hr;
      margin: 0;
      background: #000;
    }
  }

  &-page{
    padding: 30px 0 40px;

    &-head{
      @extend .x-flex;
      position: relative;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;


      &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        border: none;
        background: #BBBBBB;
      }


      &-name{
        font-size: em(25);
      }


      &-links{
        padding: 0 70px 0 0;

        &-a{
          position: relative;
          font-size: em(16);
          display: inline-block;
          vertical-align: middle;
          padding: 3px 38px 26px;
          color: #000000;

          &:after,
          &:before{
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            bottom: 1px;
            height: 15px;
            width: 100%;
            background: #002EAE;
            opacity: 0;
          }

          &:hover, &.active{
            color: #000;
            text-decoration: none;

            &:after,
            &:before{
              opacity: 1;
            }
          }


          &.rainbow{
            &:before{
              z-index: 2;
              left: initial;
              width: 66.66%;
              background: rgba(0,68,255,1);
              background: -webkit-gradient(linear, left top, right top, from(rgba(0,68,255,1)), color-stop(50%, rgba(0,68,255,1)), color-stop(51%, rgba(0,211,127,1)), to(rgba(0,211,127,1)));
              background: -webkit-linear-gradient(left, rgba(0,68,255,1) 0%, rgba(0,68,255,1) 50%, rgba(0,211,127,1) 51%, rgba(0,211,127,1) 100%);
              background: -o-linear-gradient(left, rgba(0,68,255,1) 0%, rgba(0,68,255,1) 50%, rgba(0,211,127,1) 51%, rgba(0,211,127,1) 100%);
              background: linear-gradient(to right, rgba(0,68,255,1) 0%, rgba(0,68,255,1) 50%, rgba(0,211,127,1) 51%, rgba(0,211,127,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0044ff', endColorstr='#00d37f', GradientType=1 );
            }
          }

          &.blue{
            &:after{
              background: #0043FF;
            }
          }

          &.green{
            &:after{
              background: #00D37E;

            }
          }
        }


        &.mid{
          padding: 0;
          text-align: center;
          border-bottom: 1px solid #BBBBBB;
        }
      }


      &.middle &-links{
        padding: 0;
        margin: 0 auto;
      }

      &.top{
        padding: 15px 0 0;
        &:after{
          display: none;
        }
      }
    }

    &-title{
      color: #0043FF;
      text-align: center;
      padding: 24px 0;
      background: #F0F0F0;
      font-size: em(45);
      font-weight: 100;
    }

    &-link{
      font-size: em(18);
      color: #000;
      margin-bottom: 30px;

      i{
        display: inline-block;
        vertical-align: middle;
        font-size: 26px;
        margin-right: 15px;
      }

      span{
        text-decoration: underline;
      }

      &:hover{
        color: #000;
        text-decoration: none;

        span{
          text-decoration: none;
        }
      }
    }
  }

  &-bg{
    background: url(../i/bg/3.png) 0 0 repeat;
    color: #fff;

    .x{
      &-header{
        background: none;
      }
    }
  }

  &-circles{
    padding-bottom: 16px;

    .x-box-e-char{
      &-text{
        font-size: em(20);
        text-align: center;
        margin: 25px 0 0;
      }


      &-canvas {
        height: 278px !important;
        width: 278px !important;

        &-mid{
          &-a {
            font-size: em(20);
          }

          &-b{
            font-size: em(64);
            line-height: em(16);
          }
        }
      }

      &-a{
        position: relative;
        //margin: -32px 0 0;
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);


        &:after{
          content: '';
          position: absolute;
          left: -68%;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          height: 1px;
          width: 64%;
          background: #E2E2E2;
        }



        &-canvas {
          position: relative;
          width: 128px;
          margin: 0 auto;
          height: 128px;
        }

        &-text {
          font-size: em(15);
          margin: 19px 0 0;
        }
      }
    }


    &-wp{
      @extend .x-flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 48px 81px 0 265px;
    }


    &-buttons{
      width: 100%;
      margin: 57px 0 0;
      text-align: center;
      font-size: em(20);
    }
  }

  &-circle{
    &-icon{
      position: relative;
      width: 55px;
      height: 55px;
      display: inline-block;
      background: #001C6A;
      border-radius: 50%;
      color: #fff;
      font-size: 30px;

      i{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }

  &-dropdown{
    width: 100%;

    &-title{
      background: #F0F0F0;
      color: #002EAE;
      border-radius: 10px;
      padding: 11px 16px;
      text-decoration: none;
      display: block;
      font-weight: 700;

      &:hover{
        text-decoration: none;
      }

      .x-icon-angle{
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: all 20ms linear;
        -o-transition: all 20ms linear;
        transition: all 20ms linear;
        margin: 0 5px 0 0;
      }

      &[aria-expanded="true"]{
        .x-icon-angle{
          -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
          transform: rotate(0);
        }
      }
    }

    &-menu{
      top: -15px !important;
      border: none;
      width: 100%;
      background: #F0F0F0;
      padding: 15px 10px 0 37px;

      &-item{
        display: block;
        border-top: 1px solid #BBBBBB;
        padding: 13px 5px;
        color: #6C6C6C;
        -webkit-transition: all 20ms linear;
        -o-transition: all 20ms linear;
        transition: all 20ms linear;

        &:hover{
          text-decoration: none;
          color: #002EAE;
        }
      }
    }
  }

  &-if{
    &-tablet{
      &-off{
        display: initial;
      }
      &-on{
        display: none;
      }
    }


    &-smartphone{
      &-off{
        display: initial;
      }
      &-on{
        display: none;
      }
    }
  }

  &-nav{
    margin: 12px 0 75px;
    border-bottom: 1px solid #BBBBBB;
    text-align: center;

    &-item{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      font-size: em(16);
      padding: 12px 40px 5px;
      color: #000;
      border-bottom: 11px solid transparent;

      &:hover{
        text-decoration: none;
      }


      &.active{
        border-color: #EAFF00;
      }

      &.premium{
        background: #001C6A;
        padding: 12px 40px 5px 55px;
        color: #fff;

        .x-icon-fire{
          position: absolute;
          left: 15px;
          top: 63%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-size: 28px;
        }
      }
    }
  }

  &-bage{
    &-a{
      padding: 100px 0;
      text-align: center;

      &-img{
        height: 130px;
      }
      &-text{
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        font-size: em(50);
        font-weight: 100;
      }
    }

    &-b{
      background: #414141;
      padding: 40px 25px;
      border: 2px solid #fff;

      &-wp{
        @extend .x-flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }

      &-title{
        text-align: center;
        color: #fff;
        font-size: em(50);
        font-weight: 100;
        margin: 0 0 41px;
      }

      &-item{
        text-align: center;
        line-height: 20px;
        margin-bottom: 50px;

        &-img{
          height: 55px;
          display: block;
          margin: 0 auto 14px;
        }
        &-text{
          display: block;
          color: #fff;
        }
        &-desc{
          font-size: 13px;
          color: #8B8B8B;
        }
      }


      &.dark{
        background: #2C2C2C;

      }
    }
  }

  &-racer{
    @extend .x-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;

    &-user{
      @extend .x-flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-flow: nowrap;
      flex-flow: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &-ava{
        position: relative;
        background: #F0F0F0;
        border-radius: 50%;
        overflow: hidden;
        max-width: 150px;
        min-width: 150px;
        width: 100%;
        height: 150px;
        cursor: pointer;
        padding: 0;

        &-bg{
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
          display: block;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &:after{
          content: '\006f';
          font-family: 'OTAKAM33';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #6C6C6C;
          font-size: 134px;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -40%);
          -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
          -webkit-transition: all 50ms linear;
          -o-transition: all 50ms linear;
          transition: all 50ms linear;
        }
      }
      &-name{
        font-size: em(25);
        color: #000;
        padding: 0 0 0 40px;
      }
    }

    &-info{
      width: 50%;

      &-item{
        @extend .x-flex;
        margin-bottom: 10px;


        &-icon{
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #F0F0F0;
          font-size: 36px;

          i{
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }

        &-wp{
          padding: 0 0  0 10px;
        }

        &-title{
          color: #8B8B8B;
          font-size: em(15);
        }
        &-text{
          color: #000;
          font-size: em(15);
        }
      }
    }
  }

  &-table{
    thead{
      tr{
        th{
          text-align: center;
          padding-bottom: 10px;
        }
      }
    }
    tfoot{
      tr{
        th{
          input{
            width: 100%;
            border: 1px solid #6CC6FF;
            padding: 5px;
            text-align: center;
          }
        }
      }
    }
    tbody{
      tr{
        background: #F0F0F0;
        color: #000000;

        td{
          padding: 8px 0;
          text-align: center;
          border-bottom: 3px solid white;
        }

        &:hover{
          background: #FFC3EF;
        }
      }
    }
  }

  &-filter{
    &-btns{
      text-align: right;
      margin-bottom: 10px;
    }

    &-box{
      border: 1px solid #BBBBBB;
      padding: 15px 45px;
      margin: 0 0 40px;

      &-title{


      }
      &-ctrls{
        .x-input-b{
          display: inline-block;
          vertical-align: middle;
          max-width: 222px;
          width: 100%;
          margin-right: 40px;

          &-label {
            margin: 2px 0 0 6px;
          }
        }
      }
    }

    &-find{
      text-align: center;

      &-in{
        border: 1px solid #002EAE;
        border-radius: 13px;
        max-width: 294px;
        width: 100%;
        color: #002EAE;
        font-size: em(15);
        padding: 10.1px 15px;
        display: inline-block;
        vertical-align: middle;
      }
      &-btn{
        position: relative;
        border: 1px solid #002EAE;
        border-radius: 50%;
        background: rgba(108, 198, 255, 0.5);
        width: 39px;
        height: 39px;
        color: #002EAE;
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;

        i{
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &-racing{
    position: relative;
    height: 374px;

    &:hover &{
      &-item:not(:hover){
        opacity: 0.5;
      }
    }

    &-item{
      width: 40px;
      height: 80px;
      position: absolute;
      left: 0;
      bottom: 0;
      -webkit-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      transition: all 100ms linear;


      &:after{
        content: '';
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 0;
        width: 1px;
        height: calc(100% - 52px);
        background: #707070;
      }

      &-icon{
        font-size: 44px;
        color: #A3A3A3;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      &-name{
        position: absolute;
        z-index: 1;
        left: 20px;
        top: 0;
        background: #707070;
        padding: 0 8px;
        color: #fff;
        white-space: nowrap;
        font-size: 15px;
      }

      &:hover{
        z-index: 2;
      }



      &.pink{
        &:after{
          background: #FF39CA;
        }
        .x-racing-item{
          &-icon{
            color: #FF39CA;
          }
          &-name{
            background: #FF39CA;
          }
        }
      }

      &.blue{
        &:after{
          background: #002EAE;
        }
        .x-racing-item{
          &-icon{
            color: #002EAE;
          }
          &-name{
            background: #002EAE;
          }
        }
      }

      &.left &{
        &-name{
          left: initial;
          right: 20px;
        }
      }
    }
  }
}


// buttons
.x{
  &-btn{
    &-search{
      padding: 0;
      background: none;
      cursor: pointer;
      border: none;
    }

    &-menu{
      display: none;
      background: none;
      border: none;
      padding: 0;
      width: 25px;
      height: 30px;
      margin: 0;


      i{
        position: relative;
        display: block;
      }

      i,
      i:after,
      i:before {
        width: 100%;
        height: 2px;
        background-color: #fff;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      i:after,
      i:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
      }

      i:after{
        top: 9px;
      }


      &[aria-expanded="true"] i {
        background-color: transparent;
      }
      &[aria-expanded="true"] i:before {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
        -ms-transform: rotate(45deg) translate(5px, 5px);
        transform: rotate(45deg) translate(5px, 5px);
      }
      &[aria-expanded="true"] i:after {
        -webkit-transform: rotate(-45deg) translate(7px, -8px);
        -ms-transform: rotate(-45deg) translate(7px, -8px);
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }

    &-enter{
      width: 49px;
      height: 49px;
      border-radius: 50%;
      text-align: center;
      line-height: 43px;
      background: #002EAE;
      border: none;
      color: #fff;
      font-size: 20px;
      -webkit-transition: all 50ms linear;
      -o-transition: all 50ms linear;
      transition: all 50ms linear;

      &.inactive{
        opacity: 0.5;
        pointer-events: none;
      }

      &:hover{
        text-decoration: none;
        opacity: 0.8;
      }

      &:active{
        opacity: 0.6;
      }
    }

    &-o{
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 5px;
      text-decoration: none;
    }

    &-a{
      background: #EAFF00;
      color: #002EAE;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 9px;
      padding: 12px 0;
      font-size: em(18);
      text-decoration: none;
      display: inline-block;
      -webkit-transition: all 50ms linear;
      -o-transition: all 50ms linear;
      transition: all 50ms linear;
      >*{
        position: relative;
        top: 0;
        -webkit-transition: all 50ms linear;
        -o-transition: all 50ms linear;
        transition: all 50ms linear;
      }

      &:hover{
        text-decoration: none;
        opacity: 0.8;
        >*{
          top: -3px;
        }
      }

      &:active{
        opacity: 0.6;
      }

      &-text{
        margin: 0 35px 0 -26px;
      }

      &-icon{
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
      }

      &.white{
        @extend .x-btn-a;
        width: auto;
        padding: 12px 62px;
        background: #fff;
        color: #002EAE;
      }

      &.blue{
        @extend .x-btn-a;
        width: auto;
        padding: 13px 31px;
        background: #6CC6FF;
        color: #002EAE;

        .x-btn-a-text{
          margin: 0 12px 0 0;
        }
      }

      &_small{
        @extend .x-btn-a;
        max-width: 200px;
        width: 100%;
        margin: 5px;

        &.pink{
          background: #FF39CA;
          color: #fff;
        }

        &.white{
          max-width: 200px;
          width: 100%;
          border: 1px solid #6C6C6C;
          color: #6C6C6C;
          padding: 12px 0;
        }

        &.gray{
          background: #F0F0F0;
          color: #6C6C6C;
        }

        &.dark{
          background: #6C6C6C;
          color: #fff;
        }
      }

      &_mid{
        @extend .x-btn-a_small;
        max-width: 400px;

        width: auto;
        padding: 12px 56px;
      }
    }

    &-b{
      position: relative;
      background: #fff;
      color: #002EAE;
      width: 100%;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 9px;
      padding: 12px 15px;
      font-size: em(16);
      text-decoration: none;
      display: block;
      -webkit-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      transition: all 100ms linear;

      &-icon{
        margin: 0 0 0 15px;

        &-a{
          font-size: 26px;
          position: absolute;
          right: 15px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }


      &:hover{
        text-decoration: none;
        opacity: 0.8;
      }

      &:active{
        opacity: 0.6;
      }



      &.pink{
        background: #FF39CA;
        color: #fff;
      }

      &.blue{
        background: #0043FF;
        color: #fff;
      }

      &.yellow{
        background: #EAFF00;
        color: #002EAE;
      }

      &.blackblue{
        background: #002EAE;
        color: #fff;
      }

      &.lightblue{
        background: #009CFF;
        color: #fff;
      }

      &.transparent{
        background: transparent;
        color: #BBBBBB;
        border: 1px solid #BBBBBB;
      }
    }

    &-c{
      color: #fff;
      background: #0043FF;
      border-radius: 5px;
      padding: 10px 28px;
      text-align: center;
      min-width: 128px;
      display: inline-block;
      vertical-align: middle;
      border: none;
      font-size: em(15);


      &.blackblue{
        background: #002EAE;
      }
    }

    &-d{
      color: #000;
      background: #E2E2E2;
      border-radius: 5px;
      padding: 5px 25px;
      text-align: center;
      min-width: 128px;
      display: inline-block;
      vertical-align: middle;
      border: none;
      font-size: em(15);
    }
  }
}


// components
.x{
  &-box{
    &-hr{
      width: 60%;
      height: 1px;
      border: none;
      background: #707070;
      margin: 19px 0 12px;
    }

    &-link{
      font-size: em(18);
      color: #FF39CA;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }



    &-a{
      margin-bottom: 50px;

      &-figure{
        width: 100%;
        min-height: 203px;
        height: 100%;
        background-size: cover;
        margin-bottom: 16px;
      }

      &-date{
        font-size: em(18);
        color: #6C6C6C;
        margin: 0 0 10px;
      }

      &-title{
        font-size: em(24);
        color: #002EAE;
        font-weight: 700;
        line-height: 31px;
        display: inline-block;
        margin: 0 0 12px;
      }

      &-text{
        font-size: em(18);
        line-height: 24px;
      }
    }

    &-b{
      background: rgba(234, 255, 0, 0.5);
      margin-bottom: 2.5em;
      padding: 28px 29px;

      &-date{
        font-size: em(18);
        color: #6C6C6C;
        margin: 0 0 17px;
      }

      &-text{
        font-size: em(24);
        line-height: 31px;
      }
    }

    &-c{
      position: relative;
      font-size: em(14);
      background: #F0F0F0;
      padding: 12px 100px 12px 30px;
      margin-bottom: 3px;

      &-data{
        margin-bottom: 2px;
      }

      &-info{
        @extend .x-flex;

        &-a{
          width: 35%;
        }

        &-b{
          width: 65%;
        }
      }

      &-end{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 85px;
        background: #EAFF00;
        cursor: pointer;

        &:after{
          content: '\004b';
          font-family: 'OTAKAM33';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          color: #002EAE;
          font-size: 30px;
        }

        &.trash{
          background: #FF39CA;

          &:after{
            content: '\006b';
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    &-d{
      background: #E2E2E2;
      min-height: 296px;
      border: 2px solid #fff;

      &.light{
        background: #F0F0F0;
      }

      &-wp{
        padding: 10px 25px 25px;
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      &-icon{
        font-size: 100px;
        line-height: 30%;
        color: #002EAE;
      }

      &-text{
        font-size: em(24);
        color: #002EAE;
        margin-bottom: 23px;
        line-height: 31px;
      }
    }

    &-e{
      max-width: 380px;
      width: 100%;
      margin: 0 auto;
      border-radius: 20px;
      background: #fff;
      border: 2px solid #8B8B8B;
      color: #fff;
      overflow: hidden;
      text-align: center;

      &-head{
        background: #000000;
        text-align: center;
        padding: 13px 0;
      }

      &-user{
        background: #001C6A;
        padding: 7px 20px;
        text-align: left;

        &-ava{
          width: 51px;
          height: 51px;
          border-radius: 50%;
          overflow: hidden;
          background-size: cover;
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
        }

        &-name{
          display: inline-block;
          vertical-align: middle;
          font-size: em(16);
        }
      }

      &-data{
        font-size: em(20);
        color: #002EAE;
        text-align: right;
        padding: 17px 23px 3.4px 16px;

        &_year{
          @extend .x-box-e-data;
          font-size: em(40);
          padding: 10px 23px 0 16px;
          line-height: 1em;
        }
      }

      &-char{
        &-canvas{
          position: relative;
          width: 188px !important;
          height: 188px !important;
          margin: 0 auto;

          &-a{
            position: absolute;
            left: -19%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 31px;
            height: 31px;
            border-radius: 50%;
            text-align: center;
            color: #8B8B8B;

            i{
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              font-size: 30px;

            }
          }

          &-mid{
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;

            &-a{
              font-size: em(14);
              color: #000;
            }
            &-b{
              font-size: em(40);
              color: #002EAE;
              line-height: em(20);
            }

            i{
              color: #6C6C6C;
              font-size: 34px;
            }
          }
        }

        &-text{
          line-height: em(14);
          color: #8B8B8B;
          margin: 10px 0 25px;

          span{
            color: #BFBFBF;
          }

        }

        &-a{
          display: inline-block;
          vertical-align: middle;
          text-align: center;


          &-title{
            color: #002EAE;
            font-weight: 700;
            font-size: em(12);
            line-height: 12px;
          }

          &-canvas{
            position: relative;
            width: 105px;
            margin: 0 auto;
            height: 105px;

            &-mid{
              position: absolute;
              left: 50%;
              top: 60%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              color: #002EAE;
              font-size: em(22);
              line-height: 9px;

              i{
                color: #6C6C6C;
                font-size: em(30);
                //font-size: em(45);
              }
            }
          }

          &-text{
            font-size: em(10);
            color: #8B8B8B;
            margin: 2px 0 23px;

            span{
              color: #BFBFBF;
            }

          }
        }
      }

      &-footer{
        @extend .x-flex;
        padding: 0 12px;
      }


      &.lightblue{
        .x-box-e{
          &-data_year{
            color: #0043FF;
          }

          &-user{
            background: #0043FF;
          }

          &-char{
            &-canvas{
              &-mid{
                &-b{
                  color: #0043FF;
                }
              }
            }

            &-a{
              &-title{
                color: #0043FF;
              }

              &-canvas{
                &-mid{
                  color: #0043FF;
                }
              }
            }
          }
        }
      }

      &.green{
        .x-box-e{
          &-data_year{
            color: #00D37E;
          }

          &-user{
            background: #00D37E;
          }

          &-char{
            &-canvas{
              &-mid{
                &-b{
                  color: #00D37E;
                }
              }
            }

            &-a{
              &-title{
                color: #00D37E;
              }

              &-canvas{
                &-mid{
                  color: #00D37E;
                }
              }
            }
          }
        }
      }
    }

    &-f{
      display: inline-block;
      vertical-align: top;
      max-width: 380px;
      width: 100%;
      margin: 0 auto;
      border-radius: 20px;
      border: 2px solid #8B8B8B;
      overflow: hidden;
      text-align: center;

      &-head{
        background: #F0F0F0;
        color: #002EAE;
        padding: 13px 25px;
        text-align: left;

        &.share{
          padding: 12px 20px;
          text-align: right;
          color: #6C6C6C;
        }
      }

      &-top{
        background: #fff;
        color: #000;
        padding: 9px 0 0;

        &-a{
          font-size: em(12);

          i{
            font-size: 34px;
          }
        }
        &-b{
          font-size: em(24);
          line-height: 1.07em;
          padding: 15px 0 0;
          min-height: 66.2px;
        }
        &-c{
          @extend .x-flex;

          &-canvas{
            height: 74px !important;
            width: 61% !important;
          }
          &-info{
            width: 39%;
            padding-left: 4%;

            &-item{
              border-top: 1px solid #E2E2E2;
              padding: 6px 6px 6px 8px;
              text-align: left;

              i{
                font-size: 22px;
                margin-right: 5px;
              }
            }
          }



          &.big &-canvas{
            width: 100% !important;
            height: 111px !important;
          }
          &.big &-info{
            @extend .x-flex;
            width: 100%;
            padding: 5px 10px;
            text-align: center;

            &-item{
              width: 50%;
              border-top: 1px solid transparent;
              border-left: 1px solid #000000;
              text-align: center;

              &:first-child{
                border-left: none;
              }
            }
          }
        }
      }

      &-mid{
        padding: 0 5.5%;
        overflow: hidden;
        background: #001C6A;
        -webkit-box-shadow: inset 2px 17px 64px -23px rgba(0,0,0,0.75);
        box-shadow: inset 2px 17px 64px -23px rgba(0,0,0,0.75);

        &-canvas{
          position: relative;
          width: 300px !important;
          height: 300px !important;
          margin: -130px auto 0;

          &-a{
            position: absolute;
            color: #fff;
            text-align: center;
            left: 50%;
            top: 60%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            line-height: 2em;
          }

          &-b{
            position: absolute;
            right: 5%;
            top: 52%;
          }
        }

        &-info{
          @extend .x-flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          color: #fff;
          border-bottom: 1px solid #002EAE;
          margin: -47px 0 0;
          padding: 0 0 15px;

          &-item{
            text-align: center;

            i{
              color: #6CC6FF;
              font-size: 40px;
            }


            &-a{
              color: #6CC6FF;
              font-weight: 100;
            }
            &-b{
              color: #fff;
              font-size: em(30);
              font-weight: 100;
            }
          }
        }

        &-bot{
          text-align: left;
          padding: 15px 6px;
          img{
            margin-right: 2px;
            height: 40px;
          }
        }

        &-footer{
          font-size: em(15);
          background: #001C6A;
          border-top: 1px solid #002EAE;
          text-align: left;
          color: #fff;
          padding: 7px 6px 15px;
          line-height: 1.4em;
          min-height: 85.4px;
        }

        &.gray{
          background: #6C6C6C;
          -webkit-box-shadow: none;
          box-shadow: none;


          .x-box-f{
            &-mid{
              &-info{
                margin: 0;
                border: none;

                &-item{
                  color: #BBBBBB;

                  i{
                    color: #BBBBBB;
                  }

                  &-a{
                    color: #BBBBBB;
                  }
                }
              }
            }
          }
        }
      }

      &-short{
        text-align: center;

        &-info{
          position: relative;
          overflow: hidden;
          background: #6C6C6C;
          padding: 38px 0 29px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          -webkit-box-shadow: inset 2px 17px 64px -23px rgba(0,0,0,0.75);
          box-shadow: inset 2px 17px 64px -23px rgba(0,0,0,0.75);

          &-text{
            color: #fff;
            line-height: 27px;
          }

          &-i{
            position: absolute;
            right: 27px;
            top: 14px;
          }
        }


        &-footer{
          width: 88%;
          margin: 0 auto;
          padding: 33px 0 53px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          background: rgba(154, 154, 154, 0.24);
          &-text{
            font-size: em(18);
            color: #001C6A;
            padding: 0 30px;
            line-height: 25px;
          }
        }
      }

      &-info{
        padding: 0 5.5%;
        background: #6C6C6C;
        -webkit-box-shadow: inset 2px 17px 64px -23px rgba(0,0,0,0.75);
        box-shadow: inset 2px 17px 64px -23px rgba(0,0,0,0.75);
        color: #fff;

        &-text{
          color: #fff;
          line-height: 27px;
          padding: 56px 0 28px;
        }

        &-bot{
          border-top: 1px solid #939393;
          text-align: left;
          padding: 15px 6px;
          img{
            margin-right: 2px;
            height: 40px;
          }
        }
      }

      &-footer{
        background: #000000;
        text-align: center;
        padding: 13px 0;
      }

      &-edit{
        padding: 15px 20px 31px 15px;
        background: #F0F0F0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        &-title{
          text-align: left;
          font-size: em(15);
          padding: 0 15px 10px;

        }
      }

      &-bage{
        width: 94%;
        margin: 0 auto;
        background: #414141;
        padding: 0 15px;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;

        &-title{
          font-size: em(20);
          color: #8B8B8B;
          margin-bottom: 5px;
        }

        &-item{
          @extend .x-flex;
          -ms-flex-flow: nowrap;
          flex-flow: nowrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 50%;
          padding: 15px 15px 15px 25px;
          border-bottom: 1px solid #707070;

          &:nth-child(odd){
            border-right: 1px dashed #707070;
          }
          &:nth-last-child(1),
          &:nth-last-child(2){
            border-bottom: none;
          }

          &-img{
            height: 55px;
            margin: 0 20px 0 0;
          }

          &-text{
            color: #fff;
            font-size: em(15);
          }
        }

        &-wp{
          @extend .x-flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;

          &-a{
            padding: 15px 0 20px;
            text-align: center;

            .x-box-f-bage-item-img{
              height: 40px;
              margin: 5px 4px;
            }
          }
        }

        &.active{
          max-height: 1000px;
          padding: 15px;
        }
      }

      &-note{
        padding: 22px 5.5% 37px;
        background: #001C6A;
        text-align: left;

        &-icon{
          color: #6CC6FF;
          font-size: em(18);
          margin-bottom: 15px;
          font-weight: 100;

          i{
            vertical-align: initial;
            font-size: 26px;
          }
        }

        &-text{
          font-size: em(18);
          color: #fff;
          line-height: 25px;
          font-weight: 100;
        }

        &.gray {
          background: #6C6C6C;
        }
      }

      &.noborder{
        border: none;
      }

      &.nobg{
        background: none;
      }

      &.big{
        border: none;
        max-width: 100%;


        .x-box-f{
          &-top{
            &-a{
              font-size: em(16);
            }

            &-b{
              font-size: em(40);
              padding: 7px 0 0;
            }

            &-c{
              &-canvas{
                height: 240px !important;
              }

              &-info{
                padding: 5px 10px 7px;



                &-item{
                  font-size: em(18);
                  padding: 12px 6px 12px 8px;

                  i {
                    font-size: 32px;
                  }
                }
              }
            }

          }

          &-mid{
            &-canvas {
              width: 500px !important;
              height: 500px !important;
              margin: -230px auto 0;

              &-a{
                width: 100%;
                line-height: 50px;

                &-title{
                  font-size: em(80);
                }
                &-text{
                  font-size: em(35);
                }
              }
            }

            &.gray{
              .x-box-f{
                &-mid-canvas {
                  height: 140px !important;
                  margin: 0 auto 0;
                }
              }

            }
          }

          &-head.share {
            padding: 20px;
            font-size: 24px;
          }
        }
      }
    }

    &-g{
      @extend .x-flex;
      -ms-flex-flow: nowrap;
      flex-flow: nowrap;
      margin: 0 0 49px;

      &-ava{
        position: relative;
        background: #F0F0F0;
        border-radius: 50%;
        overflow: hidden;
        max-width: 150px;
        min-width: 150px;
        width: 100%;
        height: 150px;
        cursor: pointer;
        padding: 0;

        &-bg{
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
          display: block;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &:after{
          content: '\006f';
          font-family: 'OTAKAM33';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #6C6C6C;
          font-size: 134px;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -40%);
          -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
          -webkit-transition: all 50ms linear;
          -o-transition: all 50ms linear;
          transition: all 50ms linear;
        }
      }

      &-ctrl{
        padding: 0 0 0 25px;
        width: 100%;

        &-block{
          background: #F0F0F0;
          padding: 18px 34px;

          &-wp{
            @extend .x-flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-flow: nowrap;
            flex-flow: nowrap;
            padding: 9px 0 5px;

            .x-input-c{
              width: 59%;
            }
            .x-btn-d{
              width: 36%;
            }
          }
        }
      }

      &-mobile{
        display: none;
      }
    }

    &-h{
      background: #F0F0F0;

      &-wp{
        max-width: 970px;
        width: 100%;
        margin: 0 auto;
        padding: 30px 0;

        &-a{
          @extend .x-flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
      }

      &-item{
        @extend .x-flex;
        -ms-flex-flow: nowrap;
        flex-flow: nowrap;
        margin-bottom: 15px;

        &-icon{
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #6C6C6C;
          color: #fff;
          overflow: hidden;
          font-size: 44px;

          i{
            position: absolute;
            left: 50%;
            top: 55%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }

        &-wp{
          padding: 0 0  0 10px;
        }

        &-title{
          color: #000;
          font-size: em(15);
        }
        &-text{
          color: #6C6C6C;
          font-size: em(15);
        }
      }
    }

    &-j{
      @extend .x-flex;
      padding: 16px 24px;
      -ms-flex-flow: nowrap;
      flex-flow: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-left: 1px solid #BBBBBB;

      &:first-child{
        border-left: 1px solid transparent;
      }

      &-title{
        font-size: em(20);
        color: #000000;
        font-weight: 700;
      }

      &-text{
        color: #707070;
        font-size: em(12);
        line-height: 17px;
      }

      &-info{
        font-size: em(30);
        color: #000000;
        font-weight: 700;
        line-height: 34px;
        padding: 23px 0;
      }

      &-icon{
        font-size: 44px;
      }

      &-wp{
        padding: 22px 0 0 31px;
      }
    }

    &-k{
      @extend .x-flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;


      &-wp{
        padding: 25px 5px 15px;
        position: relative;
        overflow: auto;
        max-height: 575px;
      }


      &-left{
        &-img{
          width: 48%;
          margin: 0 1% 5px;
          height: 88px;
          background-size: cover;
        }
      }
      &-left,
      &-right{
        position: relative;
        width: 25%;
        padding: 0 25px;
        margin: 6px 0;

        &:after, &:before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 1px;
          width: calc(100% - 50px);
          margin: 0 auto;
          background: #000;
        }
        &:before{
          top: initial;
          bottom: 0;
        }


        &.noborder {
          &:after, &:before{
            display: none;
          }
        }
      }


      &-mid{
        padding: 0;
        width: 50%;
        margin-bottom: 20px;
      }

      &-right{
        h2{
          font-size: em(20);
        }

        h3{
          font-size: em(15);
        }

        a{
          color: #000;
          text-decoration: underline;

          &:hover{
            color: #000;
            text-decoration: none;
          }
        }

        img{
          width: 100%;
        }
      }

    }

    &-l{
      @extend .x-flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 75px 0;


      &-info{
        width: 33%;
        padding: 13px 0 0;

        &-item{

          &-title{
            font-size: em(30);
            font-weight: 100;
            color: #8B8B8B;
            border-bottom: 1px solid #707070;
            margin-bottom: 9px;
            padding: 0 0 5px;
          }
          &-text{
            font-size: em(16);
            color: #000;
            margin-bottom: 15px;
          }
        }

      }
      &-map{
        width: 62%;
        height: 500px;

        #map{
          height:100%;
          width:100%;
        }
      }
    }
  }

  &-pagination{
    text-align: center;
    margin: 35px 0;

    &-btn{
      font-size: em(12);
      width: 33px;
      height: 33px;
      line-height: 33px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      border: none;
      background: none;
      -webkit-transition: all 50ms linear;
      -o-transition: all 50ms linear;
      transition: all 50ms linear;

      &:hover, &.active{
        background: #EAFF00;
        color: #000;
        text-decoration: none;
      }
    }
  }
}



// main
.x{
  &-body{
    @extend .x-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  &-content{
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  &-header{
    position: relative;
    background: #000;
    height: 100%;
    max-height: 180px;
    padding-bottom: 13px;
    font-size: 16px;


    &-wp{
      @extend .x-flex;
      @extend .x-wp-a;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }

    &-logo{
      position: absolute;
      left: 50%;
      top: -65px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 222px;
      height: 216px;
      background: url(../i/logo/1.png) 0 0 no-repeat;
      background-size: contain !important;

      &.two{
        background: url(../i/logo/2.png) 0 0 no-repeat;
      }
    }

    &-nav{
      width: 39%;

      &-btn{
        display: none;
      }

      &-menu{
        @extend .x-flex;
        min-width: auto;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background: none;
        float: none;
      }
    }

    &-user{
      @extend .x-flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 30.6%;


      &-nav{
        @extend .x-flex;
        width: 69%;


        &-del{
          background: #707070;
          width: 1px;
          height: 40px;
          display: inline-block;
          margin: 0 28px;
        }
      }

      &-info{
        width: 69%;
        color: #ffffff;
        font-size: em(16);
        line-height: 1.2em;
      }
    }

    &-border{
      max-width: 1310px;
      width: 100%;
      margin: 12px auto 0;
      height: 2px;
      background: #000;
    }

    &.bg{
      background: url(../i/bg/1.png) 0 0 no-repeat;
      background-size: cover !important;

      .x-header-logo{
        background: url(../i/logo/2.png) 0 0 no-repeat;
      }
    }
  }

  &-user{
    position: relative;
    border: 1px solid #292929;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    background: none;
    cursor: pointer;
    padding: 0;
    &:after{
      content: '\006f';
      font-family: 'OTAKAM33';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: white;
      font-size: 36px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
      -webkit-transition: all 50ms linear;
      -o-transition: all 50ms linear;
      transition: all 50ms linear;
    }

    &-bg{
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-menu{
      position: absolute;
      top: 10px !important;
      left: 0;
      max-width: 270px;
      width: 100%;
      z-index: 1000;
      display: none;
      color: #212529;
      background: #343434;
      border: 2px solid #000000;
      border-radius: 0;
      padding: 0;
      margin: 0;

      &-item{
        @extend .x-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 17px;
        color: #ffffff;
        text-decoration: none;
        -webkit-transition: all 50ms linear;
        -o-transition: all 50ms linear;
        transition: all 50ms linear;

        &-icon{
          position: relative;
          width: 30px;
          text-align: center;
          margin: -5px 10px 0 0;

          &.new{
            &:after{
              content: '';
              position: absolute;
              left: 2px;
              top: 2px;
              width: 11px;
              height: 11px;
              background: #D60000;
              border-radius: 50%;
            }
          }
        }

        &:hover{
          color: #ffffff;
          text-decoration: none;
          opacity: 0.6;
        }

        &:not(:last-child){
          border-bottom: 2px solid #000000;
        }
      }

      &-info{
        @extend .x-header-user-info;
        background: #000;
        width: 100% !important;
        padding: 5px 0 0 55px;
        display: none;
        height: 50px;
      }
    }

    &-fire{
      width: 50px;
      height: 30px;
      position: absolute;
      left: -25px;
      top: 8px;
      background: #001C6A;
      border-radius: 20px;
      text-align: left;
      padding: 3px 0 0 5px;
      color: white;
      font-size: 18px;
      .x-icon{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
      }
    }
  }

  &-footer{
    background: #000;
    padding: 57px 0 70px;
    text-align: center;
  }

  &-section{
    &-a{
      @extend .x-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: url(../i/bg/2.png) 0 0 no-repeat;
      background-size: cover;
      background-attachment: fixed;
      min-height: 592px;
    }

    &-b{
      font-size: em(20);
      padding: 65px 0 69px;
    }

    &-c{
      background: #9DD9FF;
      padding: 45px 0 60px;
    }

    &-d{
      padding: 77px 0 138px;
    }

    &-e{
      background: #F0F0F0;
      margin-bottom: 30px;
    }

    &-f{
      background: url(../i/bg/4.png) 0 0 repeat;
      color: #000;
      padding: 50px 0 38px;
      margin-top: 50px;

      &-boxes{
        @extend .x-wp-a;
        @extend .x-flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;


        &-mobile{
          position: relative;

          &-change{
            position: absolute;
            left: 50%;
            top: -20px;
            border-radius: 20px;
            z-index: 1;
            background: #EAFF00;
            color: #000;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

            a{
              padding: 12px;
              display: inline-block;
              vertical-align: middle;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &-login{
    max-width: 587px;
    width: 100%;

    &-box{
      position: relative;
      padding: 37px 90px 30px 68px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 12px;
      margin-bottom: 14px;

      &-inputs{
        max-width: 343px;
        width: 100%;
      }

      &-a{
        @extend .x-flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 20px;
      }

      &-b{
        margin-left: 15px;
      }
    }
  }
}